* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}
@font-face {
  font-family: "Minha-fonte";
  src: url("/fonts/Teachers-VariableFont_wght.ttf");
}

html {
  scroll-behavior: smooth !important;
}
body {
 background-color: #272727; 
 cursor: url('cursor-do-mouse.png');
}
::-webkit-scrollbar {
  width: 5px;
  /* height: 20px; */
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(to left, #361362, #8234E9);
  border-radius: 20px;
  border: 1px solid  #2a0845;
}

#cabecalho {
  background-color: #0E1116;
  height: 12vh;
  width: 100%;
  /* border-bottom: solid gray 1px; */
  position: fixed;
  box-shadow: 10px 5px 15px #0B0E12;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#nome_cabecalho {
  color: aliceblue;
  margin-left: 150px;
  font-size: 30px;
  font-family: "Minha-fonte";
}
.detail_01{
  color: #8234E9;
  font-size: 40px;
  margin-left: 10px;
}
.menu {
  padding: 10px 0;
}
.menu ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-right: 70px;

}
.menu li {
  margin-right: 20px;
}
.navegation {
  font-size: 18px;
  font-family: "Minha-fonte";
  letter-spacing: 0.5px;
  text-decoration: none;
  color: aliceblue;
  font-weight: bold;
  padding: 8px;
  border-radius: 10px;
}


.home {
  padding: 15px 10px 5px 10px;
  border-radius: 10px;
}
.home:hover {
  transition: 0.3s;
  /* background-color: #8234E9; */
  background-color: #1A2029;
}
  .navegation:hover {
    background-color: #3E3E40;
    background-color:  #1A2029;
    /* background-color: #8234E9; */
    /* background: linear-gradient(to right, #6441a5, #2a0845); */
    transition: 0.3s;
  }
/* Banner */
/* .navegation {
  scroll-behavior: smooth;
} */
#banner {
  background-color: #0E1116;
  height: 87vh;
  box-shadow: 10px 5px 15px #0E1116;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.foto {
  width: 300px; 
  height: 300px; 
  background-image: url('/imgs/eu.png');
  background-size: cover;
  /* background-attachment:fixed ; */
  border-radius: 50%;
  border: #8234E9 solid 1.5px;
  margin: 150px 50px 50px 150px;
}
/* .foto:hover {
  box-shadow: #361362 10px 10px 10px;
  transition: 0.5s;
  
} */

#perfil{
  display: flex;
  flex-direction: column;
  padding-right: 200px;
  align-items: flex-start;
  margin:170px 0px 15px 0px ;
}
.nome_banner {
  color: aliceblue;
  font-size: 80px;
  font-family: "Minha-fonte";
}
.subtitulos_banner {
  color: aliceblue;
  font-family: "Minha-fonte";
  line-height: 40px;
}
.detail_sub {
  background: linear-gradient(to left, #361362, #8234E9);
  padding: 2px;
}
#container {
  display: flex;
  gap: 28px;
  margin: 60px 0px 0px 0px;
  align-items: center;
  text-decoration: none;
}
#container a {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}
/* #container a img:hover {
  opacity: 50%;
  transition: 0.3s;
} */
.esfera {
  width: 60px;
  height: 60px;
  background-color: #8234E9;
  /* background: linear-gradient(to right, #6441a5, #2a0845); */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.esfera a {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* @keyframes flip {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0); 
    
  }

  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
} */
/* @keyframes flip-diagonal{0%{transform:rotate3d(1,1,0,0deg)}100%{transform:rotate3d(1,1,0,360deg)}} */
@keyframes girar {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.esfera:hover {
  animation: girar2 0.5s normal;
  background-color: #361362;
  transition: 0.5s;
  /* margin-top: 15px; */
}





.email_box {
  background-color: #1A2029;
  width: 30vw;
  height: 60px;
  border: #361362 solid 1px;
  border-radius: 20px ;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.email {
  color: aliceblue;
  font-family: "Minha-fonte";
  font-size: 20px;
  margin-left: 60px;
  text-align: center;
}
.email_after {
  color: aliceblue;
  font-family: "Minha-fonte";
  margin-left: 16px;
  font-size: 20px;
}
.copy_button {
  background-color: #8234E9;
  height: 60px;
  width: 60px;
  border-radius: 0px 20px 20px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
}
.copy_button:hover {
  background-color: #361362;
  transition: 0.2s;
}
.copy_button:active {
  background-color: #8234E9;
}

.email_box:hover {
  animation: girar2 0.3s normal;
  opacity: 80%;
}

@keyframes girar2 {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0); 
    
  }

  25%{
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }

  50%{
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
}


.feed {
  margin: 100px 150px 30px 150px;
  font-size: 35px;
  /* font-family: monospace; */
  font-family: "Minha-fonte";
  color: #ffff;
  text-shadow: #141414 3px 3px 15px;
}
.detail_02 {
  background: linear-gradient(to right, #361362, #8234E9);
  height: 0.5vh;
  width: 20vh;
  margin-top: 5px;
  border-radius: 15px;
  box-shadow: #141414 5px 5px 10px;
}
#skills{
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

#skills_badges {
  margin-top: 30px;
  display: flex;
  gap: 10px;
}
.badges {
  box-shadow: #141414 5px 5px 10px;
}

#rodape {
  background-color: #0E1116;
  height: 12vh;
  width: 100%;
  text-align: center;
  font-family: "Minha-fonte";
  font-size: 18px;
  color: #C0CAAD;
  font-weight: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}