@charset "UTF-8";
@keyframes flip {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}
@keyframes flip-diagonal {
  0% {
    transform: rotate3d(1, 1, 0, 0deg);
  }
  100% {
    transform: rotate3d(1, 1, 0, 360deg);
  }
}
@keyframes girar {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes girar2 {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  25% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }
  50% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    -webkit-transform-transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-40px);
    -webkit-transform-transform: translateY(-40px);
  }
}
@keyframes shadow-drop-center {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    -webkit-box-shadow-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Teachers";
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #272727;
  overflow-x: hidden;
}

/* Estilo da barra de rolagem inteira */
html ::-webkit-scrollbar {
  width: 5px;
}

/* Estilo do polegar (a parte que você arrasta) */
html ::-webkit-scrollbar-thumb {
  background: linear-gradient(to left, #361362, #8234E9);
  border-radius: 20px;
  border: 5px solid #361362;
}

/* Adicional: Estilo do track (fundo da scrollbar) */
html ::-webkit-scrollbar-track {
  background: #0E1116;
  border-radius: 20px;
}

#cabecalho {
  background-color: #0E1116;
  height: 10vh;
  width: 100%;
  box-shadow: 10px 5px 15px #0B0E12;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.texto_cabecalho {
  color: #f6fbff;
  margin-left: 150px;
  font-size: 30px;
}

.span_texto_cabecalho {
  color: #8234E9;
  font-size: 40px;
  margin-left: 10px;
}

nav {
  padding: 10px 0;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-right: 70px;
}

.nav-list li {
  margin-right: 20px;
}

.navegation {
  font-size: 18px;
  letter-spacing: 0.5px;
  text-decoration: none;
  color: #f6fbff;
  font-weight: 600;
  padding: 8px;
  border-radius: 10px;
}

.navegation:hover {
  background-color: #1A2029;
  transition: 0.3s;
}

.navegation_projetos {
  background-color: #8234E9;
  font-size: 18px;
  letter-spacing: 0.5px;
  text-decoration: none;
  color: #f6fbff;
  font-weight: 600;
  padding: 8px;
  border-radius: 10px;
  border: #8234E9 solid 1.5px;
}

.navegation_projetos:hover {
  background-color: #361362;
  transition: 0.3s;
}

.button_home {
  padding: 15px 10px 5px 10px;
  border-radius: 10px;
}

.button_home:hover {
  transition: 0.3s;
  background-color: #1A2029;
}

.mobile-menu-icon {
  display: none;
  margin-right: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.mobile-menu {
  position: absolute;
  right: 0px;
  top: 4rem;
  background-color: #0E1116;
  padding: 30px;
  height: 30vh;
  border-radius: 20px 0px 0px 20px;
  box-shadow: 10px 5px 15px #0B0E12;
  display: none;
}

.nav-list-mobile {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.nav-list-mobile li a {
  font-size: 0.8rem;
}

@media (max-width: 750px) {
  #cabecalho {
    height: 8vh;
  }
  .mobile-menu-icon {
    display: block;
  }
  .nav-list {
    display: none;
  }
  .texto_cabecalho {
    font-size: 25px;
    margin-left: 50px;
  }
}
#banner {
  background-color: #0E1116;
  height: 87vh;
  box-shadow: 10px 5px 15px #0E1116;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.foto {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: #8234E9 solid 1.5px;
  margin: 150px 50px 50px 150px;
  background-color: #1A2029;
}

#perfil {
  display: flex;
  flex-direction: column;
  padding-right: 200px;
  align-items: flex-start;
  margin: 170px 0px 15px 0px;
}

.nome_banner {
  color: #f6fbff;
  font-size: 80px;
}

.subtitulos_banner {
  color: #f6fbff;
  line-height: 40px;
}

.detail_sub {
  background: linear-gradient(to left, #361362, #8234E9);
  padding: 2px;
}

#container_sociais {
  display: flex;
  gap: 28px;
  margin: 60px 0px 0px 0px;
  align-items: center;
  text-decoration: none;
}

#container_sociais a {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.esferas {
  display: flex;
  gap: 10px;
}

.esfera {
  width: 60px;
  height: 60px;
  background-color: #8234E9;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.esfera a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.esfera:hover {
  animation: girar2 0.5s normal;
  background-color: #361362;
  transition: 0.5s;
}

.email_box {
  background-color: #1A2029;
  width: 30vw;
  height: 60px;
  border: #361362 solid 1px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.email {
  color: #f6fbff;
  font-size: 20px;
  margin: auto;
  text-align: center;
  font-weight: 500;
}

.email_after {
  color: #f6fbff;
  margin: auto;
  font-size: 20px;
  font-weight: 500;
}

.copy_button {
  background-color: #8234E9;
  height: 60px;
  width: 60px;
  border-radius: 0px 20px 20px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
}

.copy_button:hover {
  background-color: #361362;
  transition: 0.2s;
}

.copy_button:active {
  background-color: #8234E9;
}

.email_box:hover {
  animation: girar2 0.3s normal;
  opacity: 80%;
}

@media (max-width: 1350px) {
  .nome_banner {
    font-size: 60px;
  }
  .subtitulos_banner {
    font-size: 20px;
  }
}
@media (max-width: 750px) {
  #banner {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;
  }
  .foto {
    margin: 2rem 0px 30px 0px;
    width: 300px;
    height: 300px;
    padding: 0px 0px 0px 0px;
  }
  #perfil {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    align-items: center;
  }
  .nome_banner {
    font-size: 40px;
    text-align: center;
  }
  .subtitulos_banner {
    font-size: 15px;
    text-align: center;
  }
  #container_sociais {
    flex-direction: column-reverse;
    gap: 25px;
    margin: 20px 0px 0px 0px;
  }
  .email_box {
    padding: 0px 0px;
    margin: 0px 0px;
    width: 70vw;
    height: 50px;
  }
  .email {
    font-size: 16px;
    margin: auto;
  }
  .email_after {
    font-size: 14.5px;
    margin: auto;
  }
  .copy_button {
    height: 50px;
  }
  .esfera {
    width: 40px;
    height: 40px;
  }
}
@media (max-width: 450px) {
  .subtitulos_banner {
    font-size: 13.5px;
    text-align: center;
  }
}
.feed {
  margin: 80px 150px 30px 150px;
  font-size: 35px;
  color: #f6fbff;
  text-shadow: #141414 3px 3px 15px;
}

.detail_02 {
  background: linear-gradient(to right, #361362, #8234E9);
  height: 0.5vh;
  width: 20vh;
  margin-top: 5px;
  border-radius: 15px;
  box-shadow: #141414 5px 5px 10px;
}

@media (max-width: 750px) {
  .feed {
    margin: 40px 0px 0px 20px;
    font-size: 25px;
  }
  .detail_02 {
    width: 25vw;
  }
}
#skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#skills_badges {
  margin-top: 30px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 10px;
}

.badges {
  box-shadow: #141414 5px 5px 10px;
}

@media (max-width: 750px) {
  .badges {
    height: 20px;
  }
}
.container_projetos {
  margin: 40px auto 0px auto;
  margin-bottom: 200px;
  display: flex;
  gap: 50px;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.card_projetos {
  padding: 20px;
  text-align: center;
  width: 23vw;
  height: 40vh;
  border-radius: 20px;
  box-shadow: #141414 5px 5px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.card_descri {
  font-size: 20px;
  color: #f6fbff;
  position: absolute;
  bottom: -75px;
  background-color: #8234E9;
  margin: 0 15%;
  height: 60%;
  border-radius: 20px;
  padding: 20px;
  opacity: 0;
  transition: opacity 0.5s, transform 0.5s;
}

.card_projetos:hover {
  box-shadow: 0px 0px 20px 15px #361362;
}

.card_projetos:hover .card_descri {
  animation: slide-top 0.5s both;
  opacity: 1;
}

#rodape {
  background-color: #0E1116;
  height: 12vh;
  width: 100%;
  text-align: center;
  font-size: 18px;
  color: #C0CAAD;
  font-weight: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*# sourceMappingURL=styles.css.map */
