@use 'variaveis'
@use 'animacoes'

footer 
  position: relative

#rodape 
  background-color: variaveis.$cor-secundaria
  height: 12vh
  width: 100%
  text-align: center
  font-size: 18px
  color: #C0CAAD
  font-weight: 100
  display: flex
  justify-content: center
  align-items: center
