@use 'variaveis'
@use 'animacoes'

#cabecalho
  height: 10vh
  width: 100%
  position: fixed
  display: flex
  align-items: center
  justify-content: end
  top: 0
  z-index: 1000
  gap: 50px
  backdrop-filter: blur(3px) contrast(101%)
  @media (max-width: 750px)
    height: 8vh
  

nav 
  padding: 10px 0

.nav-list
  list-style: none
  display: flex
  justify-content: center
  align-items: center
  gap: 50px
  margin-right: 5vw

.nav-list li a
  color: variaveis.$text-color
  text-decoration: none
  font-family: "DM Sans"
  font-weight: bold
  font-size: 15px
  display: inline-block
  animation: scale-in-center 0.4s forwards

.nav-list li:last-child a
  border-radius: 10px
  padding: 8px
  background-color: hsla(259, 81%, 54%, 0.5)
 
.nav-list li a img
  height: 32px
.nav-list li a img:hover
  opacity: 70%
  transition: 0.3s




