@use 'variaveis'
@use 'animacoes'

#cabecalho
  height: 10vh
  width: 100%
  position: fixed
  display: flex
  align-items: center
  justify-content: end
  top: 0
  z-index: 1000
  gap: 50px
  backdrop-filter: blur(3px) contrast(101%)
  @media (max-width: 1000px)
    height: 8vh
  

nav 
  padding: 10px 0

.nav-list
  list-style: none
  display: flex
  justify-content: center
  align-items: center
  gap: 50px
  margin-right: 10vw

.nav-list li a
  color: #a8a8a8
  text-decoration: none
  font-family: "DM Sans"
  font-weight: 400
  font-size: 18px
  display: inline-block
  animation: scale-in-center 0.4s forwards

.nav-list a:hover
  text-decoration: underline
  color: #fff
  transition: 0.4s




