@use 'variaveis'
@use 'animacoes'
    
  
    
#home
  // background-color: variaveis.$cor-secundaria
  // background: linear-gradient(to right, variaveis.$roxo-escuro , variaveis.$cor-secundaria 50%)
  min-height: 100vh
  max-height: 600px
  // box-shadow: 10px 5px 15px variaveis.$cor-secundaria
  display: flex
  flex-direction: column
  justify-content: space-around
  

#perfil
  display: flex
  flex-direction: column
  gap: 40px
  margin: 100px 0 0 15vw
  
.nome_banner
  color: variaveis.$text-color
  font-size: 80px
  font-weight: 400

.subtitulos_banner
  color: variaveis.$text-color
  line-height: 50px
  font-weight: 400
  letter-spacing: 1px


.detail_sub
  background: linear-gradient(to left, variaveis.$roxo-escuro, variaveis.$roxo-claro)
  padding: 2px

#container_sociais
  display: flex
  gap: 28px
  align-items: flex-end
  text-decoration: none
  justify-content: flex-end
  margin: 0 15vw 50px 0
  flex-direction: column

.sociais
  display: flex
  gap: 22px


.links_home
  width: 14vw
  height: 50px
  border: 2px solid variaveis.$roxo-claro
  border-radius: 15px
  display: flex
  align-items: center
  justify-content: center
  gap: 10px
  text-decoration: none
  transition: 0.5s


.links_home:hover
  background-color: variaveis.$roxo-claro
  transition: 0.5s


.links_home img
  height: 38px
 

.links_home p
  color: variaveis.$text-color
  font-weight: 500


.email_box
  background-color: #1A2029
  width: 30vw
  height: 50px
  border: variaveis.$roxo-escuro solid 1px
  border-radius: 15px
  display: flex
  align-items: center
  justify-content: space-between

.email
  color: variaveis.$text-color
  font-size: 16px
  margin: auto
  text-align: center
  font-weight: 500

.email_after
  color: variaveis.$text-color
  margin: auto
  font-size: 16px
  font-weight: 500

.email, .email_after
  animation: scale-up-center 0.3s normal

.copy_button
  background-color: variaveis.$roxo-claro
  height: 50px
  width: 50px
  border-radius: 0 15px 15px 0
  display: flex
  justify-content: center
  align-items: center
  border: none
  cursor: pointer

.copy_button:hover
  background-color: variaveis.$roxo-escuro
  transition: 0.2s

.copy_button:active
  background-color: variaveis.$roxo-claro

.email_box:hover
  animation: girar2 0.3s normal
  opacity: 80%

.img_button1, .img_button2
  animation: scale-up-center 0.3s normal

@media (max-width: 1350px)
  .nome_banner
    font-size: 60px
  .subtitulos_banner
    font-size: 20px

@media (max-width: 750px)
  #home
    flex-direction: column
    justify-content: center
    align-items: center
    min-height: 85vh
    gap: 100px
    // margin-top: 10%

  #perfil
    margin: 0
    padding: 0
    align-items: center

  .nome_banner
    font-size: 40px
    text-align: center

  .subtitulos_banner
    font-size: 15px
    text-align: center

  #container_sociais
    flex-direction: column-reverse
    gap: 25px
    margin: 20px 0 0 0
    justify-content: center
  .email_box
    padding: 0
    margin: 0
    width: 70vw
    height: 50px

  .email
    font-size: 16px
    margin: auto

  .email_after
    font-size: 14.5px
    margin: auto

  .copy_button
    height: 50px

  .links_home
    width: 32vw
@media (max-width: 450px)
  .subtitulos_banner
    font-size: 13.5px
    text-align: center

// @media (min-width: 1500px)
//   #banner
//     max-height: 60vh

// @media (max-width: 1300px)
//   #banner
//     min-height: 80vh
