@use 'variaveis'
@use 'animacoes'

.mobile-menu-icon
  margin-right: 5vw
  background-color: transparent
  border: none
  cursor: pointer
  z-index: 100

// Icone de Menu (Função para mudar imagem ao clicar)
.menu-close , .menu-open
  animation: scale-up-center 0.5s normal




.mobile-menu 
  position: absolute
  top: 8vh
  width: 30vw
  height: 100vh
  background-color: #1a2029e8
  padding: 10px
  display: flex
  animation: scale-up-tr 0.3s forwards
  justify-content: center

  @media (max-width: 750px) 
    width: 50vw
    height: 70vh


.nav-list-mobile 
  list-style: none
  display: flex
  flex-direction: column
  gap: 20px
  justify-content: center
  align-items: center
  height: 100%


.nav-list-mobile a 
  text-decoration: none
  text-align: center
  color: variaveis.$text-color
  font-weight: bold
  font-family: 'Roboto'
  font-size: 30px
  letter-spacing: 2px
  display: inline-block
  animation: scale-in-center 0.4s forwards


.links_sociais a img
  height: 50px