@use 'variaveis'
@use 'animacoes'

.mobile-menu-icon
  // display: none
  margin-right: 5vw
  background-color: transparent
  border: none
  cursor: pointer
  z-index: 100
.menu-close , .menu-open
  animation: scale-up-center 0.5s normal
.mobile-menu
  position: absolute
  // top: 8vh
  width: 30vw
  height: 100vh
  background-color: #1a2029da
  padding: 10px
  // box-shadow: 10px 5px 15px #0B0E12
  display: none
  animation: scale-up-tr  0.3s forwards
  justify-content: center
        
    
.nav-list-mobile
  list-style: none
  display: flex
  // margin-right: 70px
  flex-direction: column
  gap: 20px
  justify-content: space-between
  z-index: 1000
.nav-list-mobile a 
  text-decoration: none
  color: variaveis.$text-color
  font-weight: bold
  font-family: 'Roboto'
  font-size: 20px
  letter-spacing: 2px
  display: inline-block
  animation: scale-in-center 0.4s forwards


