@use 'variaveis'
@use 'animacoes'

#projetos
  padding: 20px
  background-color: #1A2029
  margin: 100px auto
  border-radius: 50px
  width: 85%
  z-index: 1
.container_projetos
  background-color: #1A2029
  display: flex
  gap: 30px
  width: 100%
  height: 100%
  justify-content: center
  align-items: center
  flex-wrap: wrap
  margin: 70px 0px 100px 0px

.card_projeto
  display: flex
  justify-content: center
  align-items: center
  gap: 12%

.card_projeto img
  height: 400px
  width: 500px
.sobre_projeto
  display: flex
  flex-direction: column
  gap: 20px
  align-items: center
  width: 40%

.sobre_projeto h3 
  font-family: 'Roboto'
  color: variaveis.$text-color

.sobre_projeto p 
  font-family: 'Roboto'
  color: variaveis.$text-color
  font-size: 20px 
.acessar_projeto
  display: flex
  gap: 30px
  margin-top: 50px

.acessar_projeto img
  height: 50px
  width: 50px
.code_projeto
  background-color: variaveis.$roxo-claro
  min-width: 100px
  border-radius: 15px
  text-decoration: none
  display: flex
  align-items: center
  justify-content: center 
  color: variaveis.$text-color
  font-size: 20px
  font-family: 'Roboto'
  font-weight: bold
.code_projeto:hover
  animation: heartbeat 2s infinite
  background-color: #421d92 
  transition: 0.5s

.ver_projeto
  height: 50px
  width: 50px
  background-color: variaveis.$roxo-claro
  min-width: 100px
  border-radius: 15px
  display: flex
  align-items: center
  justify-content: center 

.ver_projeto:hover
  animation:  heartbeat 2s infinite
  background-color: #421d92 
  transition: 0.5s

@media (max-width: 1050px)
  .container_projetos
    gap: 40px
    margin: 50px 0px 70px 0px
    flex-direction: column
  .card_projeto
    width: 80vw
    flex-direction: column
    gap: 30px
    align-items: center
    justify-content: center
@media (max-width: 750px)
  .card_projeto img
    height: 200px
    width: 300px
  .sobre_projeto
    width: 100%
    text-align: center
  .acessar_projeto img
    height: 40px
    width: 40px

.card_projeto h3 
  color: variaveis.$text-color
  font-size: 32px
  