@use 'variaveis'
@use 'animacoes'

  
#skills
  padding-top: 20px
  background-color: #1A2029
  width: 85%
  margin: 50px auto 60px auto
  border-radius: 50px
  padding-bottom: 100px
  z-index: 1
// .container_skills
//   background-color: #1A2029
//   padding: 20px
//   border-radius: 30px
//   margin: 70px auto
//   display: flex
//   gap: 30px
//   align-items: center
//   justify-content: center
//   flex-wrap: wrap

// .skill
//   background-color: variaveis.$cor-secundaria
//   display: flex
//   gap: 5px
//   align-items: center
//   height: 10vh
//   padding: 10px
//   padding-right: 20px
//   border-radius: 10px
//   box-shadow: 10px 5px 15px #0B0E12
//   cursor: pointer
//   // margin: 0 auto
  

// .skill h3
//   color: variaveis.$text-color
//   font-family: 'Roboto'
// .skill svg path
//   fill: variaveis.$roxo-claro
// .skill:hover svg path
//   fill: #fff
//   transition: 0.5s
// .skill svg
//   margin: 0
// .skill:hover
//   animation: girar2 0.5s normal

// #html:hover
//   background-color: #ec6231
//   transition: 0.5s

// #css:hover
//   background-color: #1572B6
//   transition: 0.5s

// #js:hover
//   background-color: #e2cc22
//   transition: 0.5s

// #sass:hover
//   background-color: #CC6699
//   transition: 0.5s

// #mysql:hover
//   background-color: #4479A1
//   transition: 0.5s

// #git:hover
//   background-color: #F05032
//   transition: 0.5s
// #seo:hover
//   background-color: #f2eefd
// #seo:hover h3 
//   color: #0B0E12

// @media (max-width: 750px)
//   .container_skills
//     gap: 10px
//     margin: 50px auto
//     // height: 15vh
//   .skill
//     height: 5vh
//     padding: 5px
//     box-shadow: 5px 3px 7px #0B0E12
//     gap: 8px
//     padding-right: 5px

//   .skill svg
//     height: 20px
//     width: 20px
//   .skill h3
//     font-size: 12px
//     letter-spacing: 1px

.container_skills
  display: flex
  justify-content: center
  align-items: center
  gap: 20px
  margin: 50px 0px 0px 0px

.card_skills
  display: flex
  flex-direction: column
  align-items: center
  gap: 20px
  width: 30%
  height: 400px
  padding: 40px
.titulo_skills
  display: flex
  align-items: center
  gap: 10px
  margin-bottom: 20px
.card_skills h2
  font-family: 'Roboto'
  font-size: 25px
  color: variaveis.$text-color

.card_skills p
  font-family: 'Roboto'
  font-size: 20px
  color: variaveis.$text-color
  opacity: 70%

.div_card_skills
  background-color: variaveis.$roxo-claro
  height: 400px
  width: 1px
  opacity: 40%

.tecnologia
  display: flex
  align-items: center
  gap: 5px