@use 'variaveis'

@mixin white-gradient 
  background: linear-gradient(to right, rgb(24, 29, 37) 0%, rgba(24, 29, 37, 0.137) 100%)


$animationSpeed: 20s
$slideWidth: 150px
$numSlides: 7

// Animation
@keyframes scroll 
  0% 
    transform: translateX(0)
  
  100% 
    transform: translateX(calc(-#{$slideWidth} * #{$numSlides}))
  


// Styling
.slider 
  background-color: #181d25
  height: 50px
  margin: 50px auto 50px auto
  overflow: hidden
  position: relative
  width: 65%
  @media(max-width: 750px)
    width: 80vw
  &::before,
  &::after 
    @include white-gradient
    content: ""
    height: 100px
    position: absolute
    width: 50px
    z-index: 2
  

  &::after 
    right: 0
    top: 0
    transform: rotateZ(180deg)
  

  &::before 
    left: 0
    top: 0
  

  .slide-track 
    animation: scroll $animationSpeed linear infinite
    display: flex
    width: calc(#{$slideWidth} * #{$numSlides} * 2) // Duplicando a largura para permitir a repetição
  

  .slide 
    flex: 0 0 #{$slideWidth}// Define a largura dos slides
  


.skill
  background-color: hsla(218, 22%, 7%, 0.2)
  display: flex
  justify-content: center
  gap: 5px
  align-items: center
  height: 8vh
  padding: 10px
  padding-right: 20px
  // box-shadow: 5px 5px 10px #0B0E12
  cursor: pointer
  // margin: 0 auto
 

.skill h3
  color: variaveis.$text-color
  font-family: 'Roboto'
.skill svg path
  fill: variaveis.$roxo-claro

.skill svg
  margin: 0


@media (max-width: 750px)
  .skill
    height: 5vh
    padding: 5px
    gap: 8px
    padding-right: 5px
  .skill svg
    height: 20px
    width: 20px
  .skill h3
    font-size: 12px
    letter-spacing: 1px

