@use 'variaveis'

#sobre_mim
  padding: 20px
  margin: 120px auto 60px auto
  border-radius: 50px
  width: 85%
  z-index: 1
.container_sobre_mim
  display: flex
  align-items: center
  justify-content: center
  gap: 50px
  margin: 0px 0px 50px 0px
  @media (max-width: 750px)
    flex-direction: column-reverse
    gap: 15px
.profile_pic
  height: 300px
  border: 0.1px solid #682AE9
  border-radius: 20px
  @media (max-width: 750px)
    margin-top: 50px
    height: 250px
.textos_sobre_mim
  width: 50%
  @media (max-width: 750px)
    width: 100%
.sobre_mim_text
  margin-top: 20px
  text-align: start
  font-family: "DM Sans"
  color: variaveis.$text-color
  font-size: 18px
  font-weight: 500
  line-height: 30px
  margin-bottom: 20px
  @media(max-width: 750px)
    font-size: 16px
    line-height: 30px
    text-align: center
.sobre_mim_text span
  color: variaveis.$roxo-claro
@media(max-width: 750px)
  #sobre_mim
    margin: 0px auto 0px auto
