@use 'variaveis'

#sobre_mim
  padding: 20px
  background-color: #1A2029
  margin: 100px auto
  border-radius: 50px
  width: 85%

.sobre_mim_text
  text-align: center
  font-family: 'Roboto'
  color: variaveis.$text-color
  font-size: 20px
  font-weight: 500
  line-height: 40px
  margin-bottom: 50px