@use 'variaveis'
@use 'animacoes'
@use 'scroll_animation'

// Seções
@use '_header'
@use '_mobile-menu'
@use '_home'
@use '_sobre-mim'
@use '_skills'
@use '_projetos'
@use '_footer'

* 
  padding: 0
  margin: 0
  box-sizing: border-box


html 
  scroll-behavior: smooth


body 
  background-color: variaveis.$body-color
  overflow-x: hidden


html ::-webkit-scrollbar 
  width: 5px


html ::-webkit-scrollbar-thumb 
  background: linear-gradient(to left, variaveis.$roxo-escuro, variaveis.$roxo-claro)
  border-radius: 20px
  border: 5px solid variaveis.$roxo-escuro


html ::-webkit-scrollbar-track 
  background: variaveis.$cor-secundaria
  border-radius: 20px


@function multiple-box-shadow($n)
  $shadows: ()
  @for $i from 1 through $n
    $x: random(2000) + px
    $y: random(2000) + px
    $color: #361362
    $shadow: #{$x} #{$y} 0 #{$color}
    $shadows: append($shadows, $shadow, comma)
  @return $shadows

$shadows-small: multiple-box-shadow(1000)
$shadows-medium: multiple-box-shadow(400)
$shadows-big: multiple-box-shadow(300)

@media (max-width: 550px)
  $shadows-small: multiple-box-shadow(800)
  $shadows-medium: multiple-box-shadow(300)
  $shadows-big: multiple-box-shadow(150)

#stars, #stars2, #stars3
  pointer-events: none
  z-index: -1

#stars
  background: transparent
  box-shadow: $shadows-small
  animation: animStar 20s linear infinite
  width: 1px
  height: 2px

#stars2
  background: transparent
  box-shadow: $shadows-medium
  animation: animStar 50s linear infinite
  width: 3px
  height: 3px

#stars3
  background: transparent
  box-shadow: $shadows-big
  animation: animStar 60s linear infinite
  width: 2px
  height: 3px

@keyframes animStar
  from
    transform: translateY(0)
  to
    transform: translateY(-2000px)


.feed
  font-family: "Space Grotesk"
  margin-top: 60px
  margin-bottom: 30px
  font-size: 30px
  color: variaveis.$text-color
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  text-align: center
.detail_02 
  background: linear-gradient(to right, variaveis.$roxo-escuro, variaveis.$roxo-claro)
  height: 0.5vh
  width: 20vh
  margin-top: 5px
  border-radius: 15px
  box-shadow: #141414 5px 5px 10px

@media (max-width: 750px)
  .feed 
    margin: 0px 0px 0px 0px
    font-size: 25px
  .detail_02
    width: 25vw

#canvas 
  display: block
.hole 
  position: absolute
  top: -200px
  right: -200px
  height: 814px 
  width: 850px
  animation: rotate-scale-down2 9s cubic-bezier(0.68, -0.6, 0.32, 1.6) infinite
  opacity: 55%
  z-index: 1

  @media (max-width: 1350px) 
    top: -150px
    right: -150px
    height: 700px
    width: 800px
  

  @media (max-width: 750px) 
    top: -100px
    right: -100px
    height: 500px
    width: 600px
  

  @media (max-width: 450px) 
    top: -60px
    right: -120px
    height: 500px
    width: 530px
  




@keyframes rotate-scale-down2 
  0% 
    -webkit-transform: scale(1) rotateZ(0)
            transform: scale(1) rotateZ(0)
  
  50% 
    -webkit-transform: scale(0.7) rotateZ(180deg)
            transform: scale(0.7) rotateZ(180deg)
  
  75% 
    -webkit-transform: scale(1.2) rotateZ(360deg)
            transform: scale(1.2) rotateZ(360deg)
  100%
    -webkit-transform: scale(1.0) rotateZ(360deg)
            transform: scale(1.0) rotateZ(360deg)
  


.circle
  position: absolute
  border-radius: 50%
  background: white
  animation: ripple 15s infinite
  box-shadow: 0px 0px 1px 0px variaveis.$shadow-color


.small
  background-color: variaveis.$roxo-escuro
  width: 200px
  height: 200px
  right: -100px
  top: -100px


.medium
  background-color: variaveis.$roxo-escuro
  width: 400px
  height: 400px
  right: -200px
  top: -200px


.large
  background-color: variaveis.$roxo-escuro
  width: 600px
  height: 600px
  right: -300px
  top: -300px

.xlarge
  background-color: variaveis.$roxo-escuro
  width: 800px
  height: 800px
  right: -400px
  top: -400px


.xxlarge
  background-color: variaveis.$roxo-escuro
  width: 1000px
  height: 1000px
  right: -500px
  top: -500px


.shade1
  opacity: 0.2

.shade2
  opacity: 0.5


.shade3
  opacity: 0.7


.shade4
  opacity: 0.8


.shade5
  opacity: 0.9


@keyframes ripple
  0%
    transform: scale(0.8)
  
  
  50%
    transform: scale(1.2)
  
  
  100%
    transform: scale(0.8)
  
