@use 'variaveis'
@use 'animacoes'
@use 'scroll-animations'


// Seções
@use '_header'
@use '_mobile-menu'
@use '_home'
@use '_skills'
@use '_projetos'
@use '_footer'

*
  padding: 0
  margin: 0
  box-sizing: border-box

html
  scroll-behavior: smooth


body
  // background: linear-gradient(to right, variaveis.$cor-secundaria , #11001c )
  background-color: variaveis.$body-color
  // background-color: variaveis.$cor-secundaria
  overflow-x: hidden

html ::-webkit-scrollbar 
  width: 5px 

html ::-webkit-scrollbar-thumb 
  background: linear-gradient(to left, variaveis.$roxo-escuro, variaveis.$roxo-claro)
  border-radius: 20px
  border: 5px solid variaveis.$roxo-escuro 

html ::-webkit-scrollbar-track 
  background: variaveis.$cor-secundaria 
  border-radius: 20px  


@function multiple-box-shadow ($n) 
  $value: '#{random(2000)}px #{random(2000)}px #361362'
  @for $i from 2 through $n
    $value: '#{$value} , #{random(2000)}px #{random(2000)}px #361362'

  @return unquote($value)

$shadows-small:  multiple-box-shadow(700)
$shadows-medium: multiple-box-shadow(200)
$shadows-big:    multiple-box-shadow(100)
#stars
  width: 1px
  height: 1px
  background: transparent
  box-shadow: $shadows-small
  animation     : animStar 50s linear infinite
  position: absolute
  &:after
    content: " "
    position: absolute
    top: 2000px
    width: 1px
    height: 1px
    background: transparent
    box-shadow: $shadows-small
    
#stars2
  width: 2px
  height: 2px
  background: transparent
  box-shadow: $shadows-medium
  animation     : animStar 100s linear infinite
  position: absolute

    
  &:after
    content: " "
    position: absolute
    top: 2000px
    width: 2px
    height: 2px
    background: transparent
    box-shadow: $shadows-medium
    
#stars3
  width: 3px
  height: 3px
  background: transparent
  box-shadow: $shadows-big
  animation     : animStar 150s linear infinite
  position: absolute

    
  &:after
    content: " "
    position: absolute
    top: 2000px
    width: 3px
    height: 3px
    background: transparent
    box-shadow: $shadows-big
@keyframes animStar
  from  
    transform: translateY(0px)
  to    
    transform: translateY(-2000px)



// @media (max-width: 750px)
//   #cabecalho
//     height: 8vh
//   .mobile-menu-icon
//     display: block
//   // .mobile-menu
//   //   display: block
//   .nav-list
//     display: none
//   .logo
//     height: 70px
//     margin-left: 20px



.feed
  font-family: 'Roboto'
  margin-top: 60px
  margin-bottom: 30px
  font-size: 35px
  color: variaveis.$text-color
  text-shadow: #141414 3px 3px 15px
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center

.detail_02 
  background: linear-gradient(to right, variaveis.$roxo-escuro, variaveis.$roxo-claro)
  height: 0.5vh
  width: 20vh
  margin-top: 5px
  border-radius: 15px
  box-shadow: #141414 5px 5px 10px

@media (max-width: 750px)
  .feed 
    margin: 40px 0px 0px 20px
    font-size: 25px
  .detail_02
    width: 25vw


.sol 
  position: absolute
  top: -200px
  right: -100px
  height: 800px
  width: 900px
  animation: rotate-scale-down 10s infinite
  opacity: 70%


@keyframes rotate-scale-down
  0% 
    -webkit-transform: scale(1) rotateZ(0)
            transform: scale(1) rotateZ(0)
  
  50% 
    -webkit-transform: scale(0.8) rotateZ(180deg)
            transform: scale(0.8) rotateZ(180deg)

  100% 
    -webkit-transform: scale(1) rotateZ(360deg)
            transform: scale(1) rotateZ(360deg)
  

