@use 'variaveis'
@use 'animacoes'
@use 'scroll-animations'


// Seções
@use '_header'
@use '_mobile-menu'
@use '_home'
@use '_skills'
@use '_projetos'


*
  padding: 0
  margin: 0
  box-sizing: border-box
  font-family: "Teachers"

html
  scroll-behavior: smooth


body 
  background-color: variaveis.$body-color
  // background-color: variaveis.$cor-secundaria

  overflow-x: hidden
//

html ::-webkit-scrollbar 
  width: 5px 

html ::-webkit-scrollbar-thumb 
  background: linear-gradient(to left, variaveis.$roxo-escuro, variaveis.$roxo-claro)
  border-radius: 20px
  border: 5px solid variaveis.$roxo-escuro 

html ::-webkit-scrollbar-track 
  background: variaveis.$cor-secundaria 
  border-radius: 20px  




// fim
.feed
  margin-top: 60px
  margin-left: 5%
  margin-bottom: 30px
  font-size: 35px
  color: variaveis.$text-color
  text-shadow: #141414 3px 3px 15px
.detail_02 
  background: linear-gradient(to right, variaveis.$roxo-escuro, variaveis.$roxo-claro)
  height: 0.5vh
  width: 20vh
  margin-top: 5px
  border-radius: 15px
  box-shadow: #141414 5px 5px 10px

@media (max-width: 750px)
  .feed 
    margin: 40px 0px 0px 20px
    font-size: 25px
  .detail_02
    width: 25vw


