@keyframes slide-in-tl 
  0% 
    -webkit-transform: translateY(-1000px) translateX(-1000px)
            transform: translateY(-1000px) translateX(-1000px)
    opacity: 0
  
  100% 
    -webkit-transform: translateY(0) translateX(0)
            transform: translateY(0) translateX(0)
    opacity: 1

@keyframes slide-in-left 
  0% 
    transform: translateX(-1000px)
    opacity: 0
  
  100% 
    transform: translateX(0)
    opacity: 1
  
@keyframes slide-in-blurred-left 
  0% 
    -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2)
            transform: translateX(-1000px) scaleX(2.5) scaleY(0.2)
    -webkit-transform-origin: 100% 50%
            transform-origin: 100% 50%
    -webkit-filter: blur(40px)
            filter: blur(40px)
    opacity: 0
  
  100% 
    -webkit-transform: translateX(0) scaleY(1) scaleX(1)
            transform: translateX(0) scaleY(1) scaleX(1)
    -webkit-transform-origin: 50% 50%
            transform-origin: 50% 50%
    -webkit-filter: blur(0)
            filter: blur(0)
    opacity: 1
  

@keyframes fade-in-left 
  0% 
    -webkit-transform: translateX(-50px)
            transform: translateX(-50px)
    opacity: 0
  
  100% 
    -webkit-transform: translateX(0)
            transform: translateX(0)
    opacity: 1
  



.hidden 
  opacity: 0
  transition: opacity 0.3s ease-out
  will-change: transform, opacity


.show 
  opacity: 1
  // animation: slide-in-blurred-left 1s cubic-bezier(0.87, 0, 0.13, 1) forwards
  animation: fade-in-left 1.2s cubic-bezier(0.87, 0, 0.13, 1) forwards


