$body-color: #181d25
$cor-primaria: #272727 //cinza claro
$cor-secundaria: #0E1116 //cinza escuro
$roxo-claro: #682AE9
$roxo-escuro: rgb(104, 42, 233)
$text-color: #ffff
$shadow-color: #0b0e12
$card_color: #1A2029