@keyframes flip {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}
@keyframes flip-diagonal {
  0% {
    transform: rotate3d(1, 1, 0, 0deg);
  }
  100% {
    transform: rotate3d(1, 1, 0, 360deg);
  }
}
@keyframes girar {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes girar2 {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  25% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }
  50% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    -webkit-transform-transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-30px);
    -webkit-transform-transform: translateY(-30px);
  }
}
@keyframes shadow-drop-center {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    -webkit-box-shadow-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}
@-webkit-keyframes shadow-drop-center {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    -webkit-box-shadow-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}
@keyframes shadow-drop-center {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    -webkit-box-shadow-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}
@keyframes scale-up-tl {
  0% {
    -webkit-transform: scale(0.5);
    -webkit-transform-transform: scale(0.5);
    -webkit-transform-origin: 0% 0%;
    -webkit-transform-origin-transform-origin: 0% 0%;
  }
  100% {
    -webkit-transform: scale(1);
    -webkit-transform-transform: scale(1);
    -webkit-transform-origin: 0% 0%;
    -webkit-transform-origin-transform-origin: 0% 0%;
  }
}
@keyframes scale-up-tr {
  0% {
    -webkit-transform: scale(0.5);
    -webkit-transform-transform: scale(0.5);
    -webkit-transform-origin: 100% 0%;
    -webkit-transform-origin-transform-origin: 100% 0%;
  }
  100% {
    -webkit-transform: scale(1);
    -webkit-transform-transform: scale(1);
    -webkit-transform-origin: 100% 0%;
    -webkit-transform-origin-transform-origin: 100% 0%;
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
    -webkit-transform-transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(20px);
    -webkit-transform-transform: translateX(20px);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    -webkit-transform-transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    -webkit-transform-transform: scale(1);
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    -webkit-transform-transform: scale(1);
    -webkit-transform-origin: center center;
    -webkit-transform-origin-transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-timing-function-animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    -webkit-transform-transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-timing-function-animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    -webkit-transform-transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-timing-function-animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    -webkit-transform-transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-timing-function-animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    -webkit-transform-transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-timing-function-animation-timing-function: ease-out;
  }
}
@keyframes bounce-left {
  0% {
    -webkit-transform: translateX(-20px);
    -webkit-transform-transform: translateX(-20px);
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-timing-function-animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateX(-16px);
    -webkit-transform-transform: translateX(-16px);
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-timing-function-animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateX(-8px);
    -webkit-transform-transform: translateX(-8px);
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-timing-function-animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateX(-3.5px);
    -webkit-transform-transform: translateX(-3.5px);
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-timing-function-animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateX(-2px);
    -webkit-transform-transform: translateX(-2px);
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-timing-function-animation-timing-function: ease-in;
  }
  25%, 55%, 75%, 87%, 98% {
    -webkit-transform: translateX(0px);
    -webkit-transform-transform: translateX(0px);
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-timing-function-animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateX(0px);
    -webkit-transform-transform: translateX(0px);
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-timing-function-animation-timing-function: ease-out;
    opacity: 1;
  }
}
@keyframes text-blur-out {
  0% {
    -webkit-filter: blur(0.01);
    -webkit-filter-filter: blur(0.01);
  }
  100% {
    -webkit-filter: blur(12px) opacity(0%);
    -webkit-filter-filter: blur(12px) opacity(0%);
  }
}
@keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
    -webkit-transform-transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
    -webkit-transform-transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    -webkit-transform-transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    -webkit-transform-transform: scale(1);
    opacity: 1;
  }
}
[data-anime] {
  opacity: 0;
  transition: 0.7s;
}

[data-anime=left] {
  transform: translate3d(-200px, 0, 0);
}

[data-anime=right] {
  transform: translate3d(200px, 0, 0);
}

[data-anime].animate {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
}

#cabecalho {
  height: 10vh;
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: end;
  top: 0;
  z-index: 1000;
  gap: 50px;
}

.logo {
  margin-left: 70px;
  align-items: center;
}

nav {
  padding: 10px 0;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.nav-list li a {
  display: inline-block;
  animation: scale-in-center 0.4s forwards;
}

.nav-list li a img {
  height: 32px;
}

.nav-list li a img:hover {
  background-color: #682AE9;
  transition: 0.3s;
  border-radius: 2px;
}

.navegation {
  font-size: 18px;
  letter-spacing: 2px;
  text-decoration: none;
  color: #f6fbff;
  font-weight: 600;
  padding: 8px;
  border-radius: 10px;
}

.navegation:hover {
  background-color: #1A2029;
  transition: 0.3s;
}

.navegation_projetos {
  background-color: #682AE9;
  font-size: 18px;
  letter-spacing: 0.5px;
  text-decoration: none;
  color: #f6fbff;
  font-weight: 600;
  padding: 8px;
  border-radius: 10px;
  border: #682AE9 solid 1.5px;
}

.navegation_projetos:hover {
  background-color: #682AE9;
  transition: 0.3s;
}

.mobile-menu-icon {
  margin-right: 5vw;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 100;
}

.menu-close, .menu-open {
  animation: scale-up-center 0.5s normal;
}

.mobile-menu {
  position: absolute;
  top: 8vh;
  width: 30vw;
  height: 100vh;
  background-color: rgba(26, 32, 41, 0.9098039216);
  padding: 10px;
  display: none;
  animation: scale-up-tr 0.3s forwards;
  justify-content: center;
}
@media (max-width: 750px) {
  .mobile-menu {
    width: 100vw;
    height: 50vh;
  }
}

.nav-list-mobile {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-bottom: 50px;
}

.nav-list-mobile a {
  text-decoration: none;
  text-align: center;
  color: #f6fbff;
  font-weight: bold;
  font-family: "Roboto";
  font-size: 30px;
  letter-spacing: 2px;
  display: inline-block;
  animation: scale-in-center 0.4s forwards;
}
@media (max-width: 750px) {
  .nav-list-mobile a {
    font-size: 20px;
  }
}

.nav-list-mobile a:hover {
  color: #682AE9;
  transition: 0.5s;
}

.links_sociais a img {
  height: 50px;
}

#home {
  min-height: 100vh;
  max-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  overflow: hidden;
}

#perfil {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 0px 0 0 15vw;
}

.nome_banner {
  font-family: "Montserrat";
  color: #f6fbff;
  font-size: 80px;
  font-weight: 600;
  z-index: 2;
}

.subtitulos_banner {
  font-family: "Roboto";
  color: #f6fbff;
  line-height: 50px;
  font-weight: 600;
  letter-spacing: 1px;
  z-index: 2;
}

.detail_sub {
  background-color: #682AE9;
  padding: 2px;
}

.email_box {
  background-color: #682AE9;
  width: 30vw;
  height: 50px;
  border: #682AE9 solid 1px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 15vw;
  z-index: 2;
}

.email {
  color: #f6fbff;
  font-size: 18px;
  font-family: "Roboto";
  margin: auto;
  text-align: center;
  font-weight: 400;
  letter-spacing: 0.8px;
}

.email_after {
  color: #f6fbff;
  margin: auto;
  font-size: 18px;
  font-family: "Roboto";
  letter-spacing: 0.8px;
  font-weight: 400;
}

.email, .email_after {
  animation: scale-up-center 0.3s normal;
}

.copy_button {
  background-color: #682AE9;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
}

.copy_button:hover {
  background-color: #682AE9;
  transition: 0.2s;
}

.copy_button:active {
  background-color: #682AE9;
}

.email_box:hover {
  animation: girar2 0.3s normal;
  opacity: 80%;
  transition: 0.5s;
}

.img_button1, .img_button2 {
  animation: scale-up-center 0.3s normal;
}

@media (max-width: 1350px) {
  .nome_banner {
    font-size: 60px;
  }
  .subtitulos_banner {
    font-size: 20px;
  }
}
@media (max-width: 750px) {
  #home {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 85vh;
    gap: 120px;
  }
  #perfil {
    margin: 0;
    padding: 0;
    align-items: center;
  }
  .nome_banner {
    font-size: 40px;
    text-align: center;
  }
  .subtitulos_banner {
    font-size: 15px;
    text-align: center;
  }
  #container_sociais {
    flex-direction: column-reverse;
    gap: 40px;
    margin: 20px 0 0 0;
    justify-content: center;
  }
  .email_box {
    padding: 0;
    margin: 0;
    width: 70vw;
    height: 50px;
  }
  .email {
    font-size: 16px;
    margin: auto;
  }
  .email_after {
    font-size: 14.5px;
    margin: auto;
  }
  .copy_button {
    height: 50px;
  }
  .links_home {
    width: 32vw;
  }
  .sol {
    height: 50px;
    width: 50px;
  }
}
@media (max-width: 450px) {
  .subtitulos_banner {
    font-size: 13.5px;
    text-align: center;
  }
  .sol {
    height: 50px;
    width: 50px;
  }
}
#sobre_mim {
  padding: 20px;
  background-color: #1A2029;
  margin: 120px auto;
  border-radius: 50px;
  width: 85%;
  z-index: 1;
}

.sobre_mim_text {
  margin-top: 40px;
  text-align: center;
  font-family: "Roboto";
  color: #f6fbff;
  font-size: 20px;
  font-weight: 500;
  line-height: 40px;
  margin-bottom: 50px;
}

@media (max-width: 750px) {
  #sobre_mim {
    margin: 50px auto;
  }
}
#skills {
  padding-top: 60px;
  background-color: #1A2029;
  width: 85%;
  margin: 50px auto;
  border-radius: 50px;
  padding-bottom: 100px;
  z-index: 1;
}

.container_skills {
  background-color: #1A2029;
  padding: 20px;
  border-radius: 30px;
  margin: 70px auto;
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.skill {
  background-color: #0E1116;
  display: flex;
  gap: 5px;
  align-items: center;
  height: 10vh;
  padding: 10px;
  padding-right: 20px;
  border-radius: 10px;
  box-shadow: 10px 5px 15px #0B0E12;
  cursor: pointer;
}

.skill h3 {
  color: #f6fbff;
  font-family: "Roboto";
}

.skill svg path {
  fill: #682AE9;
}

.skill:hover svg path {
  fill: #fff;
  transition: 0.5s;
}

.skill svg {
  margin: 0;
}

.skill:hover {
  animation: girar2 0.5s normal;
}

#html:hover {
  background-color: #ec6231;
  transition: 0.5s;
}

#css:hover {
  background-color: #1572B6;
  transition: 0.5s;
}

#js:hover {
  background-color: #e2cc22;
  transition: 0.5s;
}

#sass:hover {
  background-color: #CC6699;
  transition: 0.5s;
}

#mysql:hover {
  background-color: #4479A1;
  transition: 0.5s;
}

#git:hover {
  background-color: #F05032;
  transition: 0.5s;
}

@media (max-width: 750px) {
  .container_skills {
    gap: 10px;
    margin: 50px auto;
  }
  .skill {
    height: 5vh;
    padding: 5px;
    box-shadow: 5px 3px 7px #0B0E12;
    gap: 8px;
    padding-right: 5px;
  }
  .skill svg {
    height: 20px;
    width: 20px;
  }
  .skill h3 {
    font-size: 12px;
    letter-spacing: 1px;
  }
}
#projetos {
  padding: 20px;
  background-color: #1A2029;
  margin: 100px auto;
  border-radius: 50px;
  width: 85%;
  z-index: 1;
}

.container_projetos {
  background-color: #1A2029;
  display: flex;
  gap: 30px;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 70px 0px 100px 0px;
}

.card_projeto {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12%;
}

.card_projeto img {
  height: 400px;
  width: 500px;
}

.sobre_projeto {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  width: 40%;
}

.sobre_projeto h3 {
  font-family: "Roboto";
  color: #f6fbff;
}

.sobre_projeto p {
  font-family: "Roboto";
  color: #f6fbff;
  font-size: 20px;
}

.acessar_projeto {
  display: flex;
  gap: 30px;
  margin-top: 50px;
}

.acessar_projeto img {
  height: 50px;
  width: 50px;
}

.code_projeto {
  background-color: #682AE9;
  min-width: 100px;
  border-radius: 15px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f6fbff;
  font-size: 20px;
  font-family: "Roboto";
  font-weight: bold;
}

.code_projeto:hover {
  animation: heartbeat 2s infinite;
  background-color: #421d92;
  transition: 0.5s;
}

.ver_projeto {
  height: 50px;
  width: 50px;
  background-color: #682AE9;
  min-width: 100px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ver_projeto:hover {
  animation: heartbeat 2s infinite;
  background-color: #421d92;
  transition: 0.5s;
}

@media (max-width: 1050px) {
  .container_projetos {
    gap: 40px;
    margin: 50px 0px 70px 0px;
    flex-direction: column;
  }
  .card_projeto {
    width: 80vw;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 750px) {
  .card_projeto img {
    height: 200px;
    width: 300px;
  }
  .sobre_projeto {
    width: 100%;
    text-align: center;
  }
  .acessar_projeto img {
    height: 40px;
    width: 40px;
  }
}
.card_projeto h3 {
  color: #f6fbff;
  font-size: 32px;
}

footer {
  position: relative;
  z-index: 100;
}

#rodape {
  background-color: #0E1116;
  height: 12vh;
  width: 100%;
  text-align: center;
  font-family: "Roboto";
  font-size: 18px;
  color: #C0CAAD;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 750px) {
  #rodape {
    font-size: 15px;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #181d25;
  overflow-x: hidden;
}

html ::-webkit-scrollbar {
  width: 5px;
}

html ::-webkit-scrollbar-thumb {
  background: linear-gradient(to left, #682AE9, #682AE9);
  border-radius: 20px;
  border: 5px solid #682AE9;
}

html ::-webkit-scrollbar-track {
  background: #0E1116;
  border-radius: 20px;
}

#stars,
#stars2,
#stars3 {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: -1;
}

#stars {
  background: transparent;
  box-shadow: 1373px 1175px #361362 , 1045px 129px #361362 , 636px 603px #361362 , 333px 1313px #361362 , 1908px 690px #361362 , 112px 1119px #361362 , 74px 1649px #361362 , 150px 1566px #361362 , 797px 1060px #361362 , 197px 279px #361362 , 1672px 1629px #361362 , 1266px 1252px #361362 , 865px 165px #361362 , 786px 1838px #361362 , 715px 1556px #361362 , 832px 1684px #361362 , 688px 1225px #361362 , 254px 1201px #361362 , 687px 1426px #361362 , 617px 390px #361362 , 109px 1940px #361362 , 610px 1584px #361362 , 914px 779px #361362 , 42px 1149px #361362 , 948px 1301px #361362 , 1489px 1643px #361362 , 845px 1699px #361362 , 1194px 1128px #361362 , 1382px 1745px #361362 , 44px 325px #361362 , 1518px 1501px #361362 , 1509px 1594px #361362 , 64px 187px #361362 , 113px 849px #361362 , 1521px 442px #361362 , 419px 528px #361362 , 1772px 228px #361362 , 1794px 1599px #361362 , 500px 21px #361362 , 719px 1486px #361362 , 1212px 487px #361362 , 1975px 528px #361362 , 671px 1429px #361362 , 1225px 1463px #361362 , 776px 99px #361362 , 896px 409px #361362 , 1991px 1991px #361362 , 510px 1415px #361362 , 1009px 1272px #361362 , 728px 1290px #361362 , 531px 1929px #361362 , 944px 1382px #361362 , 1299px 1181px #361362 , 1146px 536px #361362 , 7px 201px #361362 , 743px 153px #361362 , 299px 984px #361362 , 25px 1527px #361362 , 703px 1892px #361362 , 1176px 328px #361362 , 1153px 35px #361362 , 1536px 564px #361362 , 1270px 1230px #361362 , 384px 646px #361362 , 1017px 1276px #361362 , 737px 655px #361362 , 356px 1437px #361362 , 1988px 519px #361362 , 706px 98px #361362 , 1011px 1948px #361362 , 1290px 1588px #361362 , 528px 821px #361362 , 1211px 1905px #361362 , 499px 1147px #361362 , 615px 1751px #361362 , 605px 447px #361362 , 1194px 1383px #361362 , 1350px 1545px #361362 , 58px 1863px #361362 , 1125px 1671px #361362 , 7px 1604px #361362 , 867px 1517px #361362 , 1098px 182px #361362 , 940px 1703px #361362 , 1191px 1406px #361362 , 171px 911px #361362 , 537px 401px #361362 , 1495px 1892px #361362 , 1493px 1495px #361362 , 606px 1954px #361362 , 826px 1396px #361362 , 1133px 177px #361362 , 86px 1519px #361362 , 1624px 1599px #361362 , 1018px 61px #361362 , 633px 1131px #361362 , 335px 1990px #361362 , 1408px 126px #361362 , 909px 1208px #361362 , 426px 1880px #361362 , 1564px 1620px #361362 , 212px 1359px #361362 , 1172px 1522px #361362 , 174px 728px #361362 , 785px 1547px #361362 , 400px 1685px #361362 , 1158px 660px #361362 , 578px 762px #361362 , 1298px 1333px #361362 , 1455px 1895px #361362 , 1207px 873px #361362 , 117px 1950px #361362 , 1776px 1409px #361362 , 923px 428px #361362 , 605px 583px #361362 , 777px 61px #361362 , 55px 1490px #361362 , 1362px 1767px #361362 , 603px 1257px #361362 , 673px 1175px #361362 , 1211px 455px #361362 , 1345px 1802px #361362 , 894px 812px #361362 , 678px 878px #361362 , 1438px 882px #361362 , 87px 1265px #361362 , 237px 1620px #361362 , 1464px 56px #361362 , 1680px 894px #361362 , 1729px 519px #361362 , 1403px 348px #361362 , 1499px 702px #361362 , 40px 1194px #361362 , 620px 1817px #361362 , 404px 1674px #361362 , 767px 109px #361362 , 1772px 111px #361362 , 1296px 1727px #361362 , 573px 1947px #361362 , 591px 1241px #361362 , 33px 991px #361362 , 365px 537px #361362 , 755px 1372px #361362 , 1710px 1116px #361362 , 106px 1911px #361362 , 1208px 1174px #361362 , 1748px 776px #361362 , 552px 1905px #361362 , 696px 366px #361362 , 574px 516px #361362 , 772px 855px #361362 , 211px 1866px #361362 , 725px 164px #361362 , 199px 968px #361362 , 1794px 568px #361362 , 357px 1346px #361362 , 1463px 300px #361362 , 486px 1916px #361362 , 252px 666px #361362 , 1641px 1861px #361362 , 1849px 666px #361362 , 1565px 449px #361362 , 430px 1509px #361362 , 1889px 1008px #361362 , 832px 472px #361362 , 962px 336px #361362 , 446px 45px #361362 , 1371px 1113px #361362 , 354px 766px #361362 , 239px 1627px #361362 , 1243px 1883px #361362 , 1088px 1542px #361362 , 897px 1206px #361362 , 1279px 611px #361362 , 957px 1379px #361362 , 1609px 324px #361362 , 148px 1909px #361362 , 1076px 680px #361362 , 1435px 545px #361362 , 621px 706px #361362 , 1151px 1068px #361362 , 380px 715px #361362 , 48px 1863px #361362 , 1685px 836px #361362 , 441px 1216px #361362 , 834px 563px #361362 , 836px 473px #361362 , 1933px 972px #361362 , 812px 1134px #361362 , 1983px 1294px #361362 , 921px 243px #361362 , 264px 611px #361362 , 1300px 835px #361362 , 151px 150px #361362 , 640px 986px #361362 , 1318px 1209px #361362 , 204px 194px #361362 , 574px 1326px #361362 , 1669px 216px #361362 , 1679px 1128px #361362 , 1329px 818px #361362 , 954px 1366px #361362 , 1422px 1974px #361362 , 512px 1347px #361362 , 1811px 1079px #361362 , 1371px 1113px #361362 , 664px 1920px #361362 , 954px 1700px #361362 , 238px 1487px #361362 , 1014px 554px #361362 , 1478px 1662px #361362 , 1307px 1756px #361362 , 1832px 1891px #361362 , 516px 41px #361362 , 1672px 1243px #361362 , 1481px 552px #361362 , 294px 1739px #361362 , 85px 734px #361362 , 793px 462px #361362 , 533px 538px #361362 , 728px 271px #361362 , 1447px 1406px #361362 , 874px 18px #361362 , 1912px 1339px #361362 , 439px 1528px #361362 , 811px 191px #361362 , 230px 1041px #361362 , 1085px 1983px #361362 , 739px 1222px #361362 , 1965px 636px #361362 , 1327px 990px #361362 , 1971px 1112px #361362 , 1380px 1150px #361362 , 120px 711px #361362 , 1790px 1695px #361362 , 1323px 597px #361362 , 1899px 760px #361362 , 1049px 847px #361362 , 172px 1007px #361362 , 1115px 100px #361362 , 1238px 1252px #361362 , 982px 627px #361362 , 1710px 803px #361362 , 1769px 1086px #361362 , 264px 898px #361362 , 1052px 1453px #361362 , 763px 1269px #361362 , 1563px 275px #361362 , 983px 974px #361362 , 448px 261px #361362 , 1970px 975px #361362 , 282px 967px #361362 , 1182px 405px #361362 , 797px 430px #361362 , 265px 895px #361362 , 936px 725px #361362 , 924px 831px #361362 , 785px 957px #361362 , 51px 7px #361362 , 21px 1758px #361362 , 1253px 361px #361362 , 1811px 778px #361362 , 207px 115px #361362 , 154px 1505px #361362 , 67px 654px #361362 , 380px 1456px #361362 , 236px 203px #361362 , 571px 1128px #361362 , 1260px 1466px #361362 , 23px 1921px #361362 , 587px 1075px #361362 , 1169px 918px #361362 , 665px 305px #361362 , 469px 575px #361362 , 44px 1595px #361362 , 786px 1161px #361362 , 230px 1407px #361362 , 893px 1548px #361362 , 1922px 1799px #361362 , 1030px 327px #361362 , 1172px 675px #361362 , 575px 1948px #361362 , 1873px 943px #361362 , 1139px 1041px #361362 , 1499px 173px #361362 , 861px 1615px #361362 , 585px 356px #361362 , 792px 768px #361362 , 1249px 324px #361362 , 569px 272px #361362 , 7px 570px #361362 , 466px 57px #361362 , 711px 1199px #361362 , 1506px 909px #361362 , 1666px 1994px #361362 , 784px 533px #361362 , 1557px 1076px #361362 , 569px 1222px #361362 , 1467px 192px #361362 , 1734px 717px #361362 , 1284px 319px #361362 , 872px 1332px #361362 , 580px 1182px #361362 , 1128px 1747px #361362 , 1571px 577px #361362 , 974px 1509px #361362 , 1161px 315px #361362 , 588px 37px #361362 , 148px 677px #361362 , 1034px 651px #361362 , 1031px 142px #361362 , 1479px 1278px #361362 , 579px 1817px #361362 , 1398px 1337px #361362 , 1720px 1852px #361362 , 807px 81px #361362 , 1488px 695px #361362 , 721px 1325px #361362 , 1421px 554px #361362 , 1173px 1590px #361362 , 1419px 1652px #361362 , 679px 44px #361362 , 956px 1497px #361362 , 1239px 1681px #361362 , 1313px 813px #361362 , 366px 1041px #361362 , 978px 1927px #361362 , 617px 434px #361362 , 822px 1337px #361362 , 857px 1974px #361362 , 1102px 433px #361362 , 1002px 683px #361362 , 1444px 1038px #361362 , 504px 1441px #361362 , 960px 1756px #361362 , 1526px 1004px #361362 , 135px 857px #361362 , 1878px 781px #361362 , 1566px 1317px #361362 , 977px 1816px #361362 , 305px 641px #361362 , 1886px 1589px #361362 , 1593px 1079px #361362 , 1743px 1223px #361362 , 1013px 723px #361362 , 1419px 795px #361362 , 1652px 403px #361362 , 507px 109px #361362 , 1405px 1314px #361362 , 1117px 126px #361362 , 328px 1775px #361362 , 1604px 1780px #361362 , 206px 28px #361362 , 694px 855px #361362 , 626px 1638px #361362 , 304px 306px #361362 , 1756px 1505px #361362 , 1669px 506px #361362 , 275px 230px #361362 , 689px 88px #361362 , 531px 335px #361362 , 46px 526px #361362 , 657px 1627px #361362 , 1498px 1425px #361362 , 484px 1685px #361362 , 1105px 686px #361362 , 392px 1583px #361362 , 1510px 1521px #361362 , 234px 1600px #361362 , 1080px 929px #361362 , 745px 1925px #361362 , 839px 54px #361362 , 273px 575px #361362 , 1096px 555px #361362 , 1883px 801px #361362 , 1132px 1229px #361362 , 1071px 1569px #361362 , 327px 405px #361362 , 1991px 1009px #361362 , 1873px 1989px #361362 , 1885px 46px #361362 , 603px 1882px #361362 , 1696px 172px #361362 , 1559px 1000px #361362 , 1826px 1360px #361362 , 1603px 1405px #361362 , 1100px 249px #361362 , 725px 1937px #361362 , 327px 1665px #361362 , 1733px 218px #361362 , 1497px 43px #361362 , 1795px 865px #361362 , 1346px 855px #361362 , 1525px 375px #361362 , 864px 847px #361362 , 1097px 242px #361362 , 443px 791px #361362 , 731px 252px #361362 , 1571px 281px #361362 , 1191px 1992px #361362 , 446px 1751px #361362 , 1088px 273px #361362 , 695px 813px #361362 , 917px 904px #361362 , 1946px 1912px #361362 , 1675px 1640px #361362 , 829px 1950px #361362 , 1804px 669px #361362 , 1834px 916px #361362 , 1399px 1935px #361362 , 1220px 70px #361362 , 1146px 1686px #361362 , 867px 1097px #361362 , 1642px 631px #361362 , 1735px 791px #361362 , 1654px 446px #361362 , 1160px 1185px #361362 , 1952px 193px #361362 , 314px 392px #361362 , 1711px 1948px #361362 , 1720px 232px #361362 , 1730px 1860px #361362 , 1228px 1748px #361362 , 1383px 1216px #361362 , 880px 1409px #361362 , 1095px 1434px #361362 , 1097px 1878px #361362 , 455px 1230px #361362 , 1802px 1015px #361362 , 1039px 677px #361362 , 865px 1173px #361362 , 375px 1020px #361362 , 236px 461px #361362 , 1066px 513px #361362 , 1328px 1179px #361362 , 565px 1617px #361362 , 1145px 73px #361362 , 1722px 992px #361362 , 1375px 1279px #361362 , 1778px 1393px #361362 , 436px 1679px #361362 , 1237px 444px #361362 , 1933px 208px #361362 , 857px 1251px #361362 , 916px 1059px #361362 , 1353px 643px #361362 , 448px 1047px #361362 , 1703px 1156px #361362 , 189px 1301px #361362 , 1024px 29px #361362 , 1510px 959px #361362 , 178px 1865px #361362 , 57px 348px #361362 , 108px 936px #361362 , 1385px 1566px #361362 , 1819px 400px #361362 , 636px 873px #361362 , 1528px 564px #361362 , 257px 1554px #361362 , 1229px 512px #361362 , 1859px 1381px #361362 , 545px 255px #361362 , 700px 1375px #361362 , 901px 1370px #361362 , 1486px 1788px #361362 , 1387px 891px #361362 , 377px 1770px #361362 , 1030px 1717px #361362 , 509px 683px #361362 , 1858px 1793px #361362 , 1302px 557px #361362 , 1610px 992px #361362 , 17px 1121px #361362 , 96px 425px #361362 , 269px 1531px #361362 , 1240px 563px #361362 , 1909px 1151px #361362 , 1474px 761px #361362 , 1844px 1510px #361362 , 1715px 323px #361362 , 811px 1739px #361362 , 1937px 1010px #361362 , 1075px 1940px #361362 , 535px 601px #361362 , 1543px 450px #361362 , 166px 699px #361362 , 1299px 455px #361362 , 1163px 964px #361362 , 564px 1990px #361362 , 1386px 1378px #361362 , 1314px 1222px #361362 , 1499px 1520px #361362 , 1625px 1919px #361362 , 1550px 196px #361362 , 560px 557px #361362 , 817px 1376px #361362 , 891px 1574px #361362 , 334px 579px #361362 , 509px 22px #361362 , 2000px 1432px #361362 , 1399px 1171px #361362 , 1814px 197px #361362 , 352px 1002px #361362 , 768px 254px #361362 , 1330px 1246px #361362 , 816px 993px #361362 , 1553px 1629px #361362 , 1355px 628px #361362 , 1409px 143px #361362 , 153px 1761px #361362 , 158px 888px #361362 , 1275px 1947px #361362 , 1069px 1601px #361362 , 551px 1941px #361362 , 721px 1289px #361362 , 526px 460px #361362 , 460px 61px #361362 , 936px 117px #361362 , 1567px 129px #361362 , 1021px 1485px #361362 , 1857px 1896px #361362 , 344px 603px #361362 , 369px 338px #361362 , 1730px 69px #361362 , 1955px 319px #361362 , 815px 414px #361362 , 235px 1031px #361362 , 1555px 1103px #361362 , 990px 373px #361362 , 82px 1318px #361362 , 135px 947px #361362 , 483px 44px #361362 , 669px 668px #361362 , 1955px 872px #361362 , 316px 800px #361362 , 49px 93px #361362 , 196px 1408px #361362 , 303px 1313px #361362 , 1465px 568px #361362 , 1873px 1191px #361362 , 726px 1890px #361362 , 750px 1847px #361362 , 721px 1915px #361362 , 980px 1684px #361362 , 1110px 1284px #361362 , 1851px 1615px #361362 , 1048px 1898px #361362 , 1760px 439px #361362 , 731px 237px #361362 , 346px 838px #361362 , 1347px 88px #361362 , 1624px 1339px #361362 , 673px 757px #361362 , 573px 1317px #361362 , 602px 1697px #361362 , 1732px 38px #361362 , 76px 1444px #361362 , 266px 1548px #361362 , 1207px 1886px #361362 , 984px 1437px #361362 , 1407px 254px #361362 , 713px 468px #361362 , 1536px 1300px #361362 , 1415px 1495px #361362 , 532px 1935px #361362 , 1432px 606px #361362 , 1453px 269px #361362 , 385px 89px #361362 , 1932px 1212px #361362 , 376px 1282px #361362 , 367px 444px #361362 , 1560px 1509px #361362 , 1565px 1851px #361362 , 918px 1627px #361362 , 1390px 1661px #361362 , 544px 1932px #361362 , 1134px 17px #361362 , 305px 163px #361362 , 1127px 992px #361362 , 77px 380px #361362 , 1323px 1938px #361362 , 1119px 1768px #361362 , 1156px 1829px #361362 , 506px 875px #361362 , 1666px 1928px #361362 , 1168px 1439px #361362 , 1356px 1118px #361362 , 350px 1153px #361362 , 1066px 812px #361362 , 1416px 209px #361362 , 968px 1854px #361362 , 27px 1380px #361362 , 977px 1588px #361362 , 1754px 1148px #361362 , 574px 1399px #361362 , 416px 262px #361362 , 333px 1080px #361362 , 1417px 1532px #361362 , 800px 272px #361362 , 180px 127px #361362 , 1638px 324px #361362 , 669px 241px #361362 , 1189px 1695px #361362 , 511px 1056px #361362 , 176px 850px #361362 , 1015px 1908px #361362 , 1700px 1211px #361362 , 1993px 741px #361362 , 805px 1792px #361362 , 734px 227px #361362 , 1367px 1389px #361362 , 209px 1745px #361362 , 18px 1231px #361362 , 1097px 719px #361362 , 1225px 28px #361362 , 1004px 1276px #361362 , 1899px 121px #361362 , 281px 992px #361362 , 38px 1235px #361362 , 381px 430px #361362 , 1460px 1054px #361362 , 365px 1528px #361362 , 1817px 1071px #361362 , 295px 576px #361362 , 1768px 1339px #361362 , 480px 1431px #361362 , 887px 1437px #361362 , 1035px 246px #361362 , 1632px 811px #361362 , 1106px 315px #361362 , 1027px 1573px #361362 , 621px 440px #361362 , 275px 1877px #361362 , 443px 969px #361362 , 1299px 1210px #361362 , 1774px 307px #361362 , 115px 817px #361362 , 1848px 59px #361362 , 1373px 433px #361362 , 1041px 685px #361362 , 367px 1291px #361362 , 856px 630px #361362 , 78px 373px #361362 , 1528px 143px #361362 , 1754px 342px #361362 , 335px 942px #361362 , 1702px 63px #361362 , 1895px 1589px #361362 , 1106px 339px #361362 , 520px 1462px #361362 , 973px 326px #361362 , 792px 156px #361362 , 972px 818px #361362 , 48px 1799px #361362 , 537px 359px #361362 , 1697px 665px #361362 , 662px 1383px #361362 , 1794px 135px #361362 , 1041px 85px #361362 , 1088px 1410px #361362 , 1030px 1207px #361362 , 854px 1076px #361362 , 329px 1424px #361362 , 778px 1961px #361362 , 720px 817px #361362 , 1835px 561px #361362 , 221px 147px #361362 , 1377px 600px #361362 , 663px 1323px #361362 , 568px 1172px #361362 , 933px 1574px #361362 , 823px 1183px #361362 , 1428px 819px #361362 , 164px 952px #361362 , 725px 392px #361362 , 1744px 1784px #361362 , 55px 1127px #361362 , 1330px 1092px #361362 , 1772px 513px #361362 , 1538px 1752px #361362 , 1164px 1188px #361362 , 1020px 975px #361362 , 336px 1096px #361362 , 57px 1417px #361362 , 126px 496px #361362 , 1664px 1500px #361362 , 1655px 821px #361362 , 1369px 217px #361362 , 248px 202px #361362 , 266px 872px #361362 , 955px 95px #361362 , 1072px 274px #361362 , 1573px 839px #361362 , 1905px 617px #361362 , 328px 1158px #361362 , 463px 76px #361362 , 1073px 1416px #361362 , 991px 1492px #361362 , 339px 1972px #361362 , 771px 1195px #361362 , 851px 635px #361362 , 379px 326px #361362 , 1075px 1767px #361362 , 1867px 1169px #361362 , 1174px 1739px #361362 , 421px 1805px #361362 , 370px 236px #361362 , 530px 1131px #361362 , 1269px 838px #361362 , 969px 535px #361362 , 853px 1153px #361362 , 1828px 1052px #361362 , 216px 700px #361362 , 1742px 1407px #361362 , 848px 421px #361362 , 1277px 693px #361362 , 1799px 635px #361362 , 509px 1344px #361362 , 787px 501px #361362 , 674px 1904px #361362 , 1273px 1231px #361362 , 664px 314px #361362 , 1775px 580px #361362 , 1333px 201px #361362 , 1496px 701px #361362 , 1191px 1646px #361362 , 1230px 1866px #361362 , 541px 635px #361362 , 977px 1818px #361362 , 1048px 86px #361362 , 1990px 1123px #361362 , 331px 1575px #361362 , 199px 1023px #361362 , 57px 662px #361362 , 1056px 283px #361362 , 1352px 1362px #361362 , 752px 86px #361362 , 1372px 94px #361362 , 1990px 694px #361362 , 500px 121px #361362 , 347px 1849px #361362 , 1180px 364px #361362 , 1366px 824px #361362 , 370px 1004px #361362 , 1253px 1787px #361362 , 1641px 510px #361362 , 1170px 1832px #361362 , 1506px 1377px #361362 , 1047px 806px #361362 , 1422px 230px #361362 , 1929px 1093px #361362 , 1334px 1015px #361362 , 1959px 1784px #361362 , 1087px 1157px #361362 , 1358px 271px #361362 , 609px 1558px #361362 , 750px 1595px #361362 , 1451px 207px #361362 , 238px 1902px #361362 , 1497px 1140px #361362 , 1268px 1043px #361362 , 1169px 1669px #361362 , 289px 810px #361362 , 1987px 1712px #361362 , 1086px 737px #361362 , 437px 123px #361362 , 1174px 1040px #361362 , 1658px 1251px #361362 , 1502px 420px #361362 , 198px 348px #361362 , 156px 380px #361362 , 230px 1235px #361362 , 1390px 1655px #361362 , 962px 1890px #361362 , 408px 1238px #361362 , 1919px 10px #361362 , 1642px 1459px #361362 , 621px 1161px #361362 , 67px 1795px #361362 , 531px 727px #361362 , 1136px 1387px #361362 , 794px 1783px #361362 , 645px 562px #361362 , 1515px 1842px #361362 , 1653px 329px #361362 , 1988px 1765px #361362 , 1227px 487px #361362 , 1761px 407px #361362 , 1060px 182px #361362 , 608px 761px #361362 , 908px 231px #361362 , 49px 1367px #361362 , 78px 585px #361362 , 654px 1074px #361362 , 1403px 1645px #361362 , 5px 91px #361362 , 974px 356px #361362 , 1429px 762px #361362 , 1252px 1561px #361362 , 294px 1864px #361362 , 1455px 1302px #361362 , 1810px 1718px #361362 , 1665px 424px #361362 , 468px 1581px #361362 , 1103px 554px #361362 , 114px 1124px #361362 , 1585px 265px #361362 , 1056px 1591px #361362 , 1493px 1739px #361362 , 1315px 1691px #361362 , 1513px 1820px #361362 , 932px 1071px #361362 , 1463px 1903px #361362 , 1264px 1952px #361362 , 1769px 1940px #361362 , 647px 510px #361362 , 1000px 1401px #361362 , 26px 1092px #361362 , 246px 624px #361362 , 899px 1521px #361362 , 1607px 586px #361362 , 665px 876px #361362 , 1994px 717px #361362 , 901px 1556px #361362 , 1083px 401px #361362 , 1885px 1100px #361362 , 232px 766px #361362 , 919px 1669px #361362 , 1270px 1714px #361362 , 1551px 1593px #361362 , 920px 1701px #361362 , 240px 1329px #361362 , 90px 1409px #361362 , 1066px 937px #361362 , 1164px 730px #361362 , 1730px 1869px #361362 , 1655px 1550px #361362 , 1460px 718px #361362 , 1928px 97px #361362 , 111px 220px #361362 , 1095px 1797px #361362 , 1648px 292px #361362 , 1869px 286px #361362 , 1677px 1009px #361362 , 1753px 1364px #361362 , 1733px 174px #361362 , 958px 1062px #361362 , 1310px 1714px #361362 , 1737px 1524px #361362 , 152px 854px #361362 , 1880px 1405px #361362 , 1062px 1270px #361362 , 964px 1787px #361362 , 633px 1445px #361362 , 1067px 1952px #361362 , 847px 109px #361362 , 353px 581px #361362 , 1670px 1409px #361362 , 1671px 1278px #361362 , 953px 261px #361362 , 1895px 553px #361362 , 902px 1444px #361362 , 259px 648px #361362 , 827px 1950px #361362 , 519px 1896px #361362 , 379px 9px #361362 , 1193px 1164px #361362 , 1626px 1462px #361362 , 1990px 1195px #361362 , 1132px 89px #361362 , 52px 1683px #361362 , 775px 585px #361362 , 446px 1310px #361362 , 131px 322px #361362 , 702px 954px #361362 , 829px 648px #361362 , 1118px 64px #361362 , 1055px 1861px #361362 , 1037px 1231px #361362 , 476px 1224px #361362 , 1935px 522px #361362 , 1727px 315px #361362 , 324px 1141px #361362 , 1101px 1247px #361362 , 828px 956px #361362 , 772px 1723px #361362 , 1783px 1436px #361362 , 1275px 1727px #361362 , 2px 1914px #361362 , 801px 572px #361362 , 777px 508px #361362 , 1655px 1251px #361362 , 1879px 392px #361362 , 1739px 34px #361362 , 1724px 731px #361362 , 1594px 1640px #361362 , 1566px 81px #361362 , 78px 948px #361362 , 1240px 1553px #361362 , 1575px 80px #361362 , 1870px 1533px #361362 , 1362px 584px #361362 , 183px 800px #361362 , 1788px 1654px #361362 , 1605px 653px #361362 , 1105px 901px #361362 , 1586px 239px #361362 , 1901px 905px #361362 , 922px 1075px #361362 , 241px 400px #361362 , 971px 1466px #361362 , 953px 904px #361362 , 145px 1204px #361362 , 1072px 126px #361362 , 1806px 1454px #361362 , 1853px 1291px #361362 , 580px 1411px #361362 , 704px 517px #361362 , 1672px 353px #361362 , 753px 544px #361362 , 1683px 1532px #361362 , 1964px 1501px #361362 , 1093px 1174px #361362 , 257px 804px #361362 , 11px 274px #361362 , 300px 198px #361362 , 1538px 79px #361362 , 614px 817px #361362 , 941px 900px #361362 , 1368px 1289px #361362 , 865px 1450px #361362 , 1476px 512px #361362 , 542px 787px #361362 , 622px 621px #361362 , 162px 1163px #361362 , 530px 796px #361362 , 207px 1169px #361362 , 220px 402px #361362 , 1996px 1571px #361362 , 1681px 1553px #361362 , 144px 659px #361362 , 714px 101px #361362 , 1058px 1997px #361362 , 1606px 387px #361362 , 1125px 1362px #361362 , 632px 1983px #361362 , 76px 735px #361362 , 329px 1418px #361362 , 1835px 1278px #361362 , 1118px 1562px #361362 , 1965px 1768px #361362 , 1262px 1311px #361362 , 1233px 1016px #361362 , 1145px 1977px #361362 , 306px 1351px #361362 , 399px 135px #361362 , 1260px 1084px #361362 , 1519px 114px #361362 , 1242px 1597px #361362 , 620px 1409px #361362 , 676px 1323px #361362 , 606px 1412px #361362 , 1945px 1516px #361362 , 1621px 1187px #361362 , 88px 1647px #361362 , 17px 1572px #361362 , 82px 1017px #361362 , 1132px 567px #361362 , 1593px 1009px #361362 , 1644px 1578px #361362 , 1874px 204px #361362 , 28px 1331px #361362 , 1731px 1264px #361362 , 1116px 134px #361362 , 380px 656px #361362 , 1344px 284px #361362 , 1130px 1345px #361362 , 1126px 1515px #361362 , 1318px 1684px #361362 , 1972px 1739px #361362 , 585px 1397px #361362 , 1545px 1509px #361362 , 1748px 1570px #361362 , 1693px 681px #361362 , 1823px 308px #361362 , 1390px 1614px #361362 , 227px 1639px #361362 , 1808px 64px #361362 , 226px 325px #361362 , 612px 886px #361362 , 1431px 1110px #361362 , 1391px 664px #361362 , 1359px 1195px #361362 , 599px 823px #361362 , 1128px 923px #361362 , 1384px 1007px #361362 , 459px 463px #361362 , 1555px 1831px #361362 , 1851px 1717px #361362 , 1437px 1806px #361362;
  animation: animStar 20s linear infinite;
  width: 1px;
  height: 2px;
}

#stars2 {
  background: transparent;
  box-shadow: 1157px 884px #361362 , 431px 1876px #361362 , 1590px 1226px #361362 , 5px 619px #361362 , 1316px 128px #361362 , 1224px 157px #361362 , 1720px 1608px #361362 , 1407px 1335px #361362 , 901px 1109px #361362 , 12px 1423px #361362 , 530px 810px #361362 , 829px 1179px #361362 , 1342px 342px #361362 , 311px 1581px #361362 , 1320px 1850px #361362 , 1588px 500px #361362 , 1736px 1456px #361362 , 1749px 112px #361362 , 1948px 18px #361362 , 1802px 1891px #361362 , 1240px 728px #361362 , 53px 83px #361362 , 1226px 323px #361362 , 94px 588px #361362 , 1814px 839px #361362 , 422px 562px #361362 , 844px 937px #361362 , 1874px 354px #361362 , 1669px 466px #361362 , 1770px 271px #361362 , 615px 1157px #361362 , 817px 1780px #361362 , 961px 1945px #361362 , 276px 491px #361362 , 1289px 1657px #361362 , 1509px 1138px #361362 , 963px 1464px #361362 , 1316px 764px #361362 , 513px 1096px #361362 , 80px 1463px #361362 , 1876px 1070px #361362 , 1416px 586px #361362 , 350px 436px #361362 , 712px 865px #361362 , 1617px 1832px #361362 , 446px 573px #361362 , 841px 830px #361362 , 1799px 941px #361362 , 1207px 1618px #361362 , 1333px 1016px #361362 , 1989px 472px #361362 , 1490px 1832px #361362 , 45px 1467px #361362 , 332px 600px #361362 , 1131px 1322px #361362 , 516px 637px #361362 , 272px 1285px #361362 , 588px 587px #361362 , 166px 1536px #361362 , 1113px 1829px #361362 , 704px 1679px #361362 , 574px 991px #361362 , 1720px 1007px #361362 , 1575px 333px #361362 , 1672px 1648px #361362 , 49px 1510px #361362 , 160px 1645px #361362 , 1602px 213px #361362 , 33px 685px #361362 , 366px 996px #361362 , 739px 1273px #361362 , 429px 1105px #361362 , 1383px 1703px #361362 , 1924px 1303px #361362 , 13px 561px #361362 , 1350px 897px #361362 , 1788px 558px #361362 , 771px 1776px #361362 , 1143px 1854px #361362 , 258px 608px #361362 , 1777px 1906px #361362 , 1385px 1034px #361362 , 214px 1653px #361362 , 526px 219px #361362 , 1554px 68px #361362 , 1091px 1972px #361362 , 1627px 1572px #361362 , 841px 405px #361362 , 1139px 1137px #361362 , 409px 1061px #361362 , 1137px 580px #361362 , 969px 1812px #361362 , 190px 1535px #361362 , 660px 862px #361362 , 1255px 1293px #361362 , 874px 123px #361362 , 189px 56px #361362 , 1756px 784px #361362 , 417px 982px #361362 , 1261px 524px #361362 , 1173px 1353px #361362 , 949px 1571px #361362 , 1377px 252px #361362 , 783px 320px #361362 , 334px 982px #361362 , 1449px 1027px #361362 , 1195px 1318px #361362 , 234px 164px #361362 , 350px 542px #361362 , 647px 1563px #361362 , 1157px 1687px #361362 , 187px 1410px #361362 , 993px 366px #361362 , 651px 1713px #361362 , 985px 1415px #361362 , 745px 518px #361362 , 462px 238px #361362 , 1778px 1912px #361362 , 1518px 749px #361362 , 660px 1595px #361362 , 1567px 1911px #361362 , 937px 1545px #361362 , 508px 480px #361362 , 292px 653px #361362 , 1181px 1099px #361362 , 1933px 176px #361362 , 906px 1613px #361362 , 1850px 1961px #361362 , 1977px 1154px #361362 , 679px 95px #361362 , 1265px 679px #361362 , 1444px 173px #361362 , 1398px 1639px #361362 , 1498px 1234px #361362 , 1895px 1797px #361362 , 1122px 1851px #361362 , 1847px 653px #361362 , 1838px 848px #361362 , 1800px 1308px #361362 , 1962px 1310px #361362 , 1348px 698px #361362 , 1663px 1226px #361362 , 1892px 1191px #361362 , 655px 660px #361362 , 951px 1097px #361362 , 1492px 1708px #361362 , 1954px 996px #361362 , 1879px 103px #361362 , 1957px 497px #361362 , 1185px 126px #361362 , 708px 609px #361362 , 305px 1868px #361362 , 461px 1250px #361362 , 1112px 200px #361362 , 1956px 308px #361362 , 647px 1789px #361362 , 1588px 513px #361362 , 1612px 692px #361362 , 1988px 1471px #361362 , 1529px 461px #361362 , 1074px 295px #361362 , 1214px 858px #361362 , 912px 171px #361362 , 135px 1300px #361362 , 808px 753px #361362 , 1332px 138px #361362 , 622px 967px #361362 , 845px 300px #361362 , 444px 130px #361362 , 834px 973px #361362 , 660px 1032px #361362 , 1566px 1955px #361362 , 349px 1643px #361362 , 1106px 130px #361362 , 568px 1957px #361362 , 298px 379px #361362 , 1657px 507px #361362 , 488px 1609px #361362 , 1760px 1228px #361362 , 498px 763px #361362 , 496px 453px #361362 , 1072px 463px #361362 , 1862px 356px #361362 , 508px 477px #361362 , 1449px 455px #361362 , 1934px 1942px #361362 , 1875px 1774px #361362 , 1134px 233px #361362 , 228px 389px #361362 , 1457px 59px #361362 , 640px 549px #361362 , 522px 414px #361362 , 1137px 214px #361362 , 904px 1118px #361362 , 1953px 1872px #361362 , 250px 1510px #361362 , 1898px 1528px #361362 , 784px 453px #361362 , 1888px 8px #361362 , 149px 1569px #361362 , 1261px 1096px #361362 , 1731px 1251px #361362 , 627px 1879px #361362 , 1343px 1028px #361362 , 1487px 1525px #361362 , 1709px 1008px #361362 , 1310px 1681px #361362 , 809px 861px #361362 , 1981px 513px #361362 , 786px 65px #361362 , 578px 162px #361362 , 1174px 478px #361362 , 322px 551px #361362 , 1741px 256px #361362 , 1175px 519px #361362 , 810px 1774px #361362 , 511px 1434px #361362 , 38px 1267px #361362 , 1036px 1008px #361362 , 550px 253px #361362 , 1111px 1541px #361362 , 78px 669px #361362 , 461px 963px #361362 , 93px 1070px #361362 , 1980px 58px #361362 , 1633px 1023px #361362 , 1277px 486px #361362 , 1545px 407px #361362 , 1538px 1761px #361362 , 1417px 1243px #361362 , 113px 1867px #361362 , 86px 389px #361362 , 942px 1846px #361362 , 677px 1009px #361362 , 132px 232px #361362 , 1819px 894px #361362 , 979px 13px #361362 , 974px 195px #361362 , 1743px 495px #361362 , 1378px 687px #361362 , 859px 317px #361362 , 1565px 519px #361362 , 1719px 1129px #361362 , 1472px 694px #361362 , 1603px 899px #361362 , 113px 100px #361362 , 391px 945px #361362 , 1676px 711px #361362 , 569px 88px #361362 , 1104px 1309px #361362 , 1122px 1148px #361362 , 464px 207px #361362 , 1843px 89px #361362 , 914px 1136px #361362 , 1529px 676px #361362 , 269px 1115px #361362 , 1946px 192px #361362 , 820px 347px #361362 , 1563px 374px #361362 , 254px 1001px #361362 , 340px 70px #361362 , 625px 49px #361362 , 1888px 1191px #361362 , 1177px 1620px #361362 , 912px 629px #361362 , 201px 1003px #361362 , 1841px 1110px #361362 , 250px 122px #361362 , 1900px 41px #361362 , 1678px 1915px #361362 , 257px 1004px #361362 , 1678px 286px #361362 , 1879px 1369px #361362 , 1701px 432px #361362 , 916px 1251px #361362 , 731px 255px #361362 , 227px 1513px #361362 , 562px 469px #361362 , 1129px 1747px #361362 , 1754px 1148px #361362 , 72px 724px #361362 , 1014px 1264px #361362 , 1704px 508px #361362 , 879px 607px #361362 , 1881px 632px #361362 , 523px 1322px #361362 , 839px 262px #361362 , 822px 706px #361362 , 935px 1764px #361362 , 1979px 1822px #361362 , 1172px 1083px #361362 , 389px 1400px #361362 , 1873px 1449px #361362 , 1938px 1886px #361362 , 1226px 1207px #361362 , 945px 1949px #361362 , 659px 1167px #361362 , 487px 437px #361362 , 290px 937px #361362 , 337px 472px #361362 , 1866px 850px #361362 , 421px 1125px #361362 , 735px 182px #361362 , 1159px 1074px #361362 , 1511px 1626px #361362 , 1951px 700px #361362 , 516px 962px #361362 , 1811px 574px #361362 , 575px 794px #361362 , 115px 1446px #361362 , 770px 956px #361362 , 1773px 722px #361362 , 1606px 1395px #361362 , 1783px 426px #361362 , 1756px 273px #361362 , 1885px 1164px #361362 , 1917px 856px #361362 , 741px 646px #361362 , 552px 1854px #361362 , 480px 516px #361362 , 454px 525px #361362 , 299px 81px #361362 , 1275px 778px #361362 , 279px 1319px #361362 , 47px 920px #361362 , 868px 1023px #361362 , 1359px 1594px #361362 , 960px 1920px #361362 , 576px 796px #361362 , 1249px 890px #361362 , 1426px 1032px #361362 , 1730px 312px #361362 , 152px 1089px #361362 , 1378px 581px #361362 , 1188px 1736px #361362 , 1520px 1324px #361362 , 1541px 772px #361362 , 852px 748px #361362 , 549px 1183px #361362 , 1527px 1760px #361362 , 590px 878px #361362 , 519px 525px #361362 , 1666px 552px #361362 , 1008px 1986px #361362 , 1974px 244px #361362 , 1375px 814px #361362 , 1662px 770px #361362 , 473px 657px #361362 , 1694px 1286px #361362 , 798px 1787px #361362 , 688px 951px #361362 , 412px 1135px #361362 , 1108px 730px #361362 , 1145px 1431px #361362 , 1896px 1667px #361362 , 855px 561px #361362 , 210px 1155px #361362 , 1208px 1093px #361362 , 72px 1505px #361362 , 1272px 847px #361362 , 1614px 760px #361362 , 957px 348px #361362 , 936px 438px #361362 , 1952px 1259px #361362 , 101px 974px #361362 , 1849px 1262px #361362 , 141px 482px #361362 , 319px 665px #361362 , 1438px 515px #361362 , 227px 992px #361362 , 1695px 1851px #361362 , 1558px 1521px #361362 , 930px 275px #361362 , 493px 805px #361362 , 1144px 469px #361362 , 294px 1662px #361362 , 1274px 1440px #361362 , 1689px 676px #361362 , 197px 517px #361362 , 1143px 312px #361362 , 648px 544px #361362 , 1686px 1470px #361362 , 552px 1461px #361362 , 1917px 1649px #361362 , 175px 476px #361362 , 943px 1243px #361362 , 1751px 1019px #361362 , 1527px 140px #361362 , 255px 116px #361362 , 1208px 1714px #361362 , 1047px 912px #361362 , 1047px 7px #361362 , 1790px 258px #361362 , 737px 430px #361362 , 1749px 1606px #361362 , 1297px 1331px #361362 , 1092px 340px #361362 , 1853px 967px #361362 , 907px 589px #361362 , 520px 1764px #361362;
  animation: animStar 50s linear infinite;
  width: 3px;
  height: 3px;
}

#stars3 {
  background: transparent;
  box-shadow: 433px 778px #361362 , 1347px 1509px #361362 , 66px 1499px #361362 , 1462px 983px #361362 , 933px 1832px #361362 , 1228px 671px #361362 , 440px 315px #361362 , 1792px 668px #361362 , 292px 1943px #361362 , 1094px 734px #361362 , 202px 1766px #361362 , 160px 415px #361362 , 1615px 787px #361362 , 172px 275px #361362 , 350px 994px #361362 , 1966px 344px #361362 , 170px 1147px #361362 , 1618px 67px #361362 , 1885px 206px #361362 , 1122px 1873px #361362 , 479px 886px #361362 , 1566px 387px #361362 , 1255px 1224px #361362 , 1103px 92px #361362 , 1305px 1067px #361362 , 1150px 1828px #361362 , 471px 874px #361362 , 195px 625px #361362 , 140px 1779px #361362 , 818px 1169px #361362 , 192px 1614px #361362 , 614px 74px #361362 , 340px 501px #361362 , 709px 283px #361362 , 1479px 1706px #361362 , 1060px 338px #361362 , 176px 1530px #361362 , 344px 763px #361362 , 1675px 777px #361362 , 349px 1234px #361362 , 22px 1444px #361362 , 919px 1885px #361362 , 1485px 1px #361362 , 879px 462px #361362 , 568px 533px #361362 , 160px 1630px #361362 , 274px 1218px #361362 , 1807px 207px #361362 , 851px 1002px #361362 , 276px 206px #361362 , 1521px 157px #361362 , 1328px 328px #361362 , 1589px 154px #361362 , 1542px 612px #361362 , 1347px 629px #361362 , 1730px 1879px #361362 , 1965px 1837px #361362 , 1785px 194px #361362 , 455px 781px #361362 , 1649px 1955px #361362 , 1664px 1343px #361362 , 1873px 795px #361362 , 1077px 350px #361362 , 16px 82px #361362 , 1136px 819px #361362 , 394px 644px #361362 , 1758px 296px #361362 , 1883px 1989px #361362 , 1735px 1313px #361362 , 368px 683px #361362 , 1421px 1776px #361362 , 39px 1840px #361362 , 144px 1992px #361362 , 96px 764px #361362 , 197px 1569px #361362 , 424px 1156px #361362 , 636px 1879px #361362 , 1882px 102px #361362 , 622px 1201px #361362 , 401px 208px #361362 , 846px 1792px #361362 , 876px 438px #361362 , 395px 470px #361362 , 688px 225px #361362 , 609px 1113px #361362 , 1216px 1455px #361362 , 954px 1027px #361362 , 1174px 1115px #361362 , 1607px 1030px #361362 , 1412px 1139px #361362 , 1343px 1697px #361362 , 1630px 1197px #361362 , 1049px 651px #361362 , 1167px 1652px #361362 , 90px 410px #361362 , 894px 161px #361362 , 33px 1602px #361362 , 431px 715px #361362 , 146px 1966px #361362 , 1114px 572px #361362 , 785px 39px #361362 , 436px 705px #361362 , 1544px 1523px #361362 , 627px 235px #361362 , 433px 330px #361362 , 444px 735px #361362 , 1976px 634px #361362 , 371px 93px #361362 , 692px 1870px #361362 , 1514px 267px #361362 , 719px 1460px #361362 , 904px 1881px #361362 , 164px 437px #361362 , 348px 1674px #361362 , 1655px 1035px #361362 , 271px 1819px #361362 , 133px 222px #361362 , 406px 2px #361362 , 1911px 1971px #361362 , 906px 601px #361362 , 96px 563px #361362 , 1031px 324px #361362 , 958px 1532px #361362 , 909px 1592px #361362 , 1517px 2px #361362 , 315px 1484px #361362 , 1670px 1664px #361362 , 262px 705px #361362 , 421px 1435px #361362 , 1328px 488px #361362 , 1745px 141px #361362 , 1169px 622px #361362 , 1527px 1425px #361362 , 1055px 842px #361362 , 1446px 1212px #361362 , 302px 386px #361362 , 1371px 989px #361362 , 1165px 369px #361362 , 1045px 1374px #361362 , 1741px 782px #361362 , 1242px 1347px #361362 , 679px 1324px #361362 , 562px 1284px #361362 , 632px 1720px #361362 , 224px 1765px #361362 , 1424px 1241px #361362 , 1671px 1201px #361362 , 439px 469px #361362 , 770px 1170px #361362 , 238px 1402px #361362 , 1788px 828px #361362 , 1715px 1157px #361362 , 1118px 658px #361362 , 1054px 561px #361362 , 917px 449px #361362 , 1373px 834px #361362 , 897px 1146px #361362 , 42px 130px #361362 , 1370px 596px #361362 , 729px 597px #361362 , 1256px 1164px #361362 , 663px 168px #361362 , 1140px 1141px #361362 , 927px 1242px #361362 , 580px 457px #361362 , 790px 1808px #361362 , 800px 134px #361362 , 1805px 423px #361362 , 46px 1966px #361362 , 1087px 1387px #361362 , 1933px 1745px #361362 , 1549px 381px #361362 , 1924px 575px #361362 , 14px 185px #361362 , 227px 1385px #361362 , 963px 100px #361362 , 856px 1299px #361362 , 599px 547px #361362 , 1142px 630px #361362 , 795px 253px #361362 , 35px 1859px #361362 , 990px 1284px #361362 , 1468px 155px #361362 , 1425px 151px #361362 , 1072px 875px #361362 , 1429px 1690px #361362 , 995px 1805px #361362 , 182px 297px #361362 , 1239px 1361px #361362 , 1011px 1706px #361362 , 1657px 1123px #361362 , 1140px 1052px #361362 , 1404px 509px #361362 , 1431px 1470px #361362 , 290px 313px #361362 , 1082px 947px #361362 , 125px 844px #361362 , 488px 777px #361362 , 1799px 1033px #361362 , 788px 1090px #361362 , 1068px 1665px #361362 , 488px 1204px #361362 , 1076px 4px #361362 , 1539px 1863px #361362 , 1464px 1033px #361362 , 722px 790px #361362 , 1232px 982px #361362 , 869px 144px #361362 , 1180px 1376px #361362 , 24px 1393px #361362 , 40px 400px #361362 , 557px 1596px #361362 , 1068px 1178px #361362 , 1332px 946px #361362 , 1035px 1432px #361362 , 1759px 598px #361362 , 930px 1023px #361362 , 1328px 1397px #361362 , 534px 74px #361362 , 1121px 1338px #361362 , 253px 505px #361362 , 1533px 112px #361362 , 1651px 1910px #361362 , 128px 876px #361362 , 1819px 143px #361362 , 1045px 1572px #361362 , 477px 864px #361362 , 1776px 1726px #361362 , 1983px 1046px #361362 , 1982px 18px #361362 , 1979px 414px #361362 , 1662px 1510px #361362 , 636px 476px #361362 , 1052px 1163px #361362 , 151px 239px #361362 , 964px 1555px #361362 , 1481px 870px #361362 , 1230px 981px #361362 , 1834px 1804px #361362 , 1413px 1921px #361362 , 922px 98px #361362 , 1847px 279px #361362 , 688px 101px #361362 , 785px 684px #361362 , 1073px 136px #361362 , 1402px 857px #361362 , 671px 1615px #361362 , 312px 989px #361362 , 911px 916px #361362 , 1804px 1980px #361362 , 1724px 434px #361362 , 1922px 1132px #361362 , 1849px 1116px #361362 , 599px 1655px #361362 , 552px 867px #361362 , 1589px 886px #361362 , 663px 944px #361362 , 158px 1835px #361362 , 117px 1166px #361362 , 42px 1175px #361362 , 795px 132px #361362 , 760px 813px #361362 , 1998px 63px #361362 , 66px 981px #361362 , 641px 1833px #361362 , 1061px 1681px #361362 , 693px 503px #361362 , 242px 405px #361362 , 61px 1800px #361362 , 851px 949px #361362 , 1383px 1238px #361362 , 1676px 94px #361362 , 1379px 1141px #361362 , 1812px 1755px #361362 , 1992px 973px #361362 , 488px 1920px #361362 , 1001px 995px #361362 , 1153px 643px #361362 , 1903px 1422px #361362 , 308px 628px #361362 , 1210px 1366px #361362 , 1637px 227px #361362 , 1786px 370px #361362 , 612px 707px #361362 , 177px 434px #361362 , 1461px 1528px #361362 , 1701px 839px #361362 , 520px 1184px #361362 , 212px 1324px #361362 , 1070px 1860px #361362 , 1376px 1227px #361362 , 1762px 528px #361362 , 232px 1592px #361362 , 1953px 1177px #361362 , 1749px 774px #361362 , 849px 973px #361362 , 1882px 939px #361362 , 86px 792px #361362 , 727px 1545px #361362 , 144px 1751px #361362;
  animation: animStar 60s linear infinite;
  width: 2px;
  height: 3px;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
.feed {
  font-family: "Roboto";
  margin-top: 60px;
  margin-bottom: 30px;
  font-size: 35px;
  color: #f6fbff;
  text-shadow: #141414 3px 3px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.detail_02 {
  background: linear-gradient(to right, #682AE9, #682AE9);
  height: 0.5vh;
  width: 20vh;
  margin-top: 5px;
  border-radius: 15px;
  box-shadow: #141414 5px 5px 10px;
}

@media (max-width: 750px) {
  .feed {
    margin: 40px 0px 0px 20px;
    font-size: 25px;
  }
  .detail_02 {
    width: 25vw;
  }
}
.hole {
  position: absolute;
  top: -200px;
  right: -200px;
  height: 814px;
  width: 850px;
  animation: rotate-scale-down2 9s cubic-bezier(0.68, -0.6, 0.32, 1.6) infinite;
  opacity: 55%;
  z-index: 1;
}
@media (max-width: 1350px) {
  .hole {
    top: -150px;
    right: -150px;
    height: 700px;
    width: 800px;
  }
}
@media (max-width: 750px) {
  .hole {
    top: -100px;
    right: -100px;
    height: 500px;
    width: 600px;
  }
}
@media (max-width: 450px) {
  .hole {
    top: -60px;
    right: -120px;
    height: 500px;
    width: 530px;
  }
}

@keyframes rotate-scale-down2 {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
    -webkit-transform-transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(0.7) rotateZ(180deg);
    -webkit-transform-transform: scale(0.7) rotateZ(180deg);
  }
  75% {
    -webkit-transform: scale(1.2) rotateZ(360deg);
    -webkit-transform-transform: scale(1.2) rotateZ(360deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
    -webkit-transform-transform: scale(1) rotateZ(360deg);
  }
}

/*# sourceMappingURL=main.css.map */
