@keyframes flip {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}
@keyframes flip-diagonal {
  0% {
    transform: rotate3d(1, 1, 0, 0deg);
  }
  100% {
    transform: rotate3d(1, 1, 0, 360deg);
  }
}
@keyframes girar {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes girar2 {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  25% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }
  50% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    -webkit-transform-transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-30px);
    -webkit-transform-transform: translateY(-30px);
  }
}
@keyframes shadow-drop-center {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    -webkit-box-shadow-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}
@-webkit-keyframes shadow-drop-center {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    -webkit-box-shadow-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}
@keyframes shadow-drop-center {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    -webkit-box-shadow-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}
@keyframes scale-up-tl {
  0% {
    -webkit-transform: scale(0.5);
    -webkit-transform-transform: scale(0.5);
    -webkit-transform-origin: 0% 0%;
    -webkit-transform-origin-transform-origin: 0% 0%;
  }
  100% {
    -webkit-transform: scale(1);
    -webkit-transform-transform: scale(1);
    -webkit-transform-origin: 0% 0%;
    -webkit-transform-origin-transform-origin: 0% 0%;
  }
}
@keyframes scale-up-tr {
  0% {
    -webkit-transform: scale(0.5);
    -webkit-transform-transform: scale(0.5);
    -webkit-transform-origin: 100% 0%;
    -webkit-transform-origin-transform-origin: 100% 0%;
  }
  100% {
    -webkit-transform: scale(1);
    -webkit-transform-transform: scale(1);
    -webkit-transform-origin: 100% 0%;
    -webkit-transform-origin-transform-origin: 100% 0%;
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
    -webkit-transform-transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(20px);
    -webkit-transform-transform: translateX(20px);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    -webkit-transform-transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    -webkit-transform-transform: scale(1);
  }
}
.container_projetos {
  display: flex;
  gap: 30px;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 70px 0px 150px 0px;
}

.card_projeto {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 28vw;
  background-color: #1A2029;
  border-radius: 20px;
  box-shadow: 10px 5px 15px #0B0E12;
  position: relative;
}

.card_projeto:hover {
  animation: slide-top 0.5s forwards;
}

.card_projeto:hover .linguagens_projeto {
  display: block;
}

.card_projeto:hover .ver_projeto {
  display: block;
}

.card_projeto:hover .code_projeto {
  display: block;
}

.linguagens_projeto {
  display: none;
  position: absolute;
  background-color: rgba(55, 19, 98, 0.5764705882);
  top: 2%;
  left: 5%;
  color: #f6fbff;
  font-size: 1.2rem;
  letter-spacing: 2px;
  font-weight: 500;
  padding: 10px;
  border-radius: 0.8rem;
  animation: scale-up-tl 0.5s normal;
}

.code_projeto {
  display: none;
  position: absolute;
  bottom: 10%;
  left: 12%;
  text-decoration: none;
  color: #f6fbff;
  font-size: 30px;
  animation: girar2 2s infinite;
}

.code_projeto:hover {
  color: rgb(54, 19, 98);
}

.ver_projeto {
  display: none;
  position: absolute;
  text-decoration: none;
  bottom: 5%;
  right: 10%;
  animation: slide-right 1s infinite;
}

@media (max-width: 750px) {
  .container_projetos {
    gap: 40px;
    margin: 50px 0px 150px 0px;
  }
  .card_projeto {
    width: 88vw;
    height: 65vh;
  }
}
.card_projeto h3 {
  color: #f6fbff;
  font-size: 32px;
}

.container_skills {
  background-color: #1A2029;
  width: 80vw;
  padding: 20px;
  box-shadow: 10px 5px 15px #0B0E12;
  border-radius: 30px;
  margin: 70px auto;
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.skill {
  background-color: #0E1116;
  display: flex;
  gap: 5px;
  align-items: center;
  height: 10vh;
  padding: 10px;
  padding-right: 20px;
  border-radius: 10px;
  box-shadow: 10px 5px 15px #0B0E12;
  cursor: pointer;
}

.skill h3 {
  color: #f6fbff;
}

.skill:hover svg path {
  fill: #fff;
  transition: 0.5s;
}

.skill svg {
  margin: 0;
}

.skill:hover {
  animation: girar2 0.5s normal;
}

#html:hover {
  background-color: #ec6231;
  transition: 0.5s;
}

#css:hover {
  background-color: #1572B6;
  transition: 0.5s;
}

#js:hover {
  background-color: #e2cc22;
  transition: 0.5s;
}

#sass:hover {
  background-color: #CC6699;
  transition: 0.5s;
}

#mysql:hover {
  background-color: #4479A1;
  transition: 0.5s;
}

#git:hover {
  background-color: #F05032;
  transition: 0.5s;
}

@media (max-width: 750px) {
  .container_skills {
    width: 88vw;
    gap: 10px;
    margin: 40px auto;
  }
  .skill {
    height: 5vh;
    padding: 5px;
    box-shadow: 5px 3px 7px #0B0E12;
    gap: 8px;
    padding-right: 5px;
  }
  .skill svg {
    height: 20px;
    width: 20px;
  }
  .skill h3 {
    font-size: 12px;
    letter-spacing: 1px;
  }
}
.mobile-menu-icon {
  display: none;
  margin-right: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.menu-close, .menu-open {
  animation: scale-up-center 0.5s normal;
}

.mobile-menu {
  position: absolute;
  top: 8vh;
  width: 100%;
  background-color: rgba(55, 19, 98, 0.5882352941);
  padding: 10px;
  box-shadow: 10px 5px 15px #0B0E12;
  display: none;
  animation: scale-up-tr 0.3s forwards;
  justify-content: center;
}

.nav-list-mobile {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.nav-list-mobile a {
  text-decoration: none;
  color: #f6fbff;
  text-align: center;
  font-weight: bold;
  letter-spacing: 2px;
}

@keyframes slide-in-tl {
  0% {
    -webkit-transform: translateY(-1000px) translateX(-1000px);
    -webkit-transform-transform: translateY(-1000px) translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) translateX(0);
    -webkit-transform-transform: translateY(0) translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.hidden {
  opacity: 0;
  transition: opacity 0.3s ease-out;
  will-change: transform, opacity;
}

.show {
  opacity: 1;
  animation: slide-in-left 1.5s cubic-bezier(0.87, 0, 0.13, 1) forwards;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Teachers";
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #181d25;
  overflow-x: hidden;
}

html ::-webkit-scrollbar {
  width: 5px;
}

html ::-webkit-scrollbar-thumb {
  background: linear-gradient(to left, rgb(54, 19, 98), #8234E9);
  border-radius: 20px;
  border: 5px solid rgb(54, 19, 98);
}

html ::-webkit-scrollbar-track {
  background: #0E1116;
  border-radius: 20px;
}

@media (max-width: 768px) {
  ::-webkit-scrollbar {
    width: 4px;
  }
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(to left, rgb(54, 19, 98), #8234E9);
    border-radius: 10px;
    border: 2px solid rgb(54, 19, 98);
  }
  ::-webkit-scrollbar-track {
    background: #0E1116;
    border-radius: 4px;
  }
}
#cabecalho {
  background-color: #0E1116;
  height: 10vh;
  width: 100%;
  position: fixed;
  box-shadow: 10px 5px 15px #0B0E12;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  z-index: 1000;
}

.logo {
  margin-left: 230px;
  height: 130px;
}

nav {
  padding: 10px 0;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-right: 70px;
}

.nav-list li {
  margin-right: 20px;
}

.navegation {
  font-size: 18px;
  letter-spacing: 2px;
  text-decoration: none;
  color: #f6fbff;
  font-weight: 600;
  padding: 8px;
  border-radius: 10px;
}

.navegation:hover {
  background-color: #1A2029;
  transition: 0.3s;
}

.navegation_projetos {
  background-color: #8234E9;
  font-size: 18px;
  letter-spacing: 0.5px;
  text-decoration: none;
  color: #f6fbff;
  font-weight: 600;
  padding: 8px;
  border-radius: 10px;
  border: #8234E9 solid 1.5px;
}

.navegation_projetos:hover {
  background-color: rgb(54, 19, 98);
  transition: 0.3s;
}

@media (max-width: 750px) {
  #cabecalho {
    height: 8vh;
  }
  .mobile-menu-icon {
    display: block;
  }
  .nav-list {
    display: none;
  }
  .logo {
    height: 90px;
    margin-left: 20px;
  }
}
#banner {
  margin-top: 5%;
  background-color: #0E1116;
  height: 87vh;
  box-shadow: 10px 5px 15px #0E1116;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
}

.foto {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: #8234E9 solid 1.5px;
  margin: 100px 50px 50px 150px;
  background-color: #1A2029;
}

#perfil {
  display: flex;
  flex-direction: column;
  padding-right: 200px;
  align-items: flex-start;
  margin: 120px 0px 15px 0px;
}

.nome_banner {
  color: #f6fbff;
  font-size: 80px;
}

.subtitulos_banner {
  color: #f6fbff;
  line-height: 40px;
}

.detail_sub {
  background: linear-gradient(to left, rgb(54, 19, 98), #8234E9);
  padding: 2px;
}

#container_sociais {
  display: flex;
  gap: 28px;
  margin: 60px 0px 0px 0px;
  align-items: center;
  text-decoration: none;
}

#container_sociais a {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.esferas {
  display: flex;
  gap: 10px;
}

.esfera {
  width: 60px;
  height: 60px;
  background-color: #8234E9;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.esfera a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.esfera:hover {
  animation: girar2 0.5s normal;
  background-color: rgb(54, 19, 98);
  transition: 0.5s;
}

.email_box {
  background-color: #1A2029;
  width: 30vw;
  height: 60px;
  border: rgb(54, 19, 98) solid 1px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.email {
  color: #f6fbff;
  font-size: 20px;
  margin: auto;
  text-align: center;
  font-weight: 500;
}

.email_after {
  color: #f6fbff;
  margin: auto;
  font-size: 20px;
  font-weight: 500;
}

.email, .email_after {
  animation: scale-up-center 0.3s normal;
}

.copy_button {
  background-color: #8234E9;
  height: 60px;
  width: 60px;
  border-radius: 0px 20px 20px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
}

.copy_button:hover {
  background-color: rgb(54, 19, 98);
  transition: 0.2s;
}

.copy_button:active {
  background-color: #8234E9;
}

.email_box:hover {
  animation: girar2 0.3s normal;
  opacity: 80%;
}

.img_button1, .img_button2 {
  animation: scale-up-center 0.3s normal;
}

@media (max-width: 1350px) {
  .nome_banner {
    font-size: 60px;
  }
  .subtitulos_banner {
    font-size: 20px;
  }
}
@media (max-width: 750px) {
  #banner {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    gap: 0px;
    margin-top: 10%;
  }
  .foto {
    margin: 5rem 0px 30px 0px;
    width: 300px;
    height: 300px;
    padding: 0px 0px 0px 0px;
    border-radius: 50%;
  }
  #perfil {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    align-items: center;
  }
  .nome_banner {
    font-size: 40px;
    text-align: center;
  }
  .subtitulos_banner {
    font-size: 15px;
    text-align: center;
  }
  #container_sociais {
    flex-direction: column-reverse;
    gap: 25px;
    margin: 20px 0px 0px 0px;
  }
  .email_box {
    padding: 0px 0px;
    margin: 0px 0px;
    width: 70vw;
    height: 50px;
  }
  .email {
    font-size: 16px;
    margin: auto;
  }
  .email_after {
    font-size: 14.5px;
    margin: auto;
  }
  .copy_button {
    height: 50px;
  }
  .esfera {
    width: 40px;
    height: 40px;
    margin-bottom: 20px;
  }
}
@media (max-width: 450px) {
  .subtitulos_banner {
    font-size: 13.5px;
    text-align: center;
  }
}
.feed {
  margin-top: 80px;
  margin-left: 5%;
  margin-bottom: 30px;
  font-size: 35px;
  color: #f6fbff;
  text-shadow: #141414 3px 3px 15px;
}

.detail_02 {
  background: linear-gradient(to right, rgb(54, 19, 98), #8234E9);
  height: 0.5vh;
  width: 20vh;
  margin-top: 5px;
  border-radius: 15px;
  box-shadow: #141414 5px 5px 10px;
}

@media (max-width: 750px) {
  .feed {
    margin: 40px 0px 0px 20px;
    font-size: 25px;
  }
  .detail_02 {
    width: 25vw;
  }
}
footer {
  position: relative;
}

#rodape {
  background-color: #0E1116;
  height: 12vh;
  width: 100%;
  text-align: center;
  font-size: 18px;
  color: #C0CAAD;
  font-weight: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*# sourceMappingURL=main.css.map */
