@keyframes flip {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}
@keyframes flip-diagonal {
  0% {
    transform: rotate3d(1, 1, 0, 0deg);
  }
  100% {
    transform: rotate3d(1, 1, 0, 360deg);
  }
}
@keyframes girar {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes girar2 {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  25% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }
  50% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    -webkit-transform-transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-30px);
    -webkit-transform-transform: translateY(-30px);
  }
}
@keyframes shadow-drop-center {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    -webkit-box-shadow-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}
@-webkit-keyframes shadow-drop-center {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    -webkit-box-shadow-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}
@keyframes shadow-drop-center {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    -webkit-box-shadow-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}
@keyframes scale-up-tl {
  0% {
    -webkit-transform: scale(0.5);
    -webkit-transform-transform: scale(0.5);
    -webkit-transform-origin: 0% 0%;
    -webkit-transform-origin-transform-origin: 0% 0%;
  }
  100% {
    -webkit-transform: scale(1);
    -webkit-transform-transform: scale(1);
    -webkit-transform-origin: 0% 0%;
    -webkit-transform-origin-transform-origin: 0% 0%;
  }
}
@keyframes scale-up-tr {
  0% {
    -webkit-transform: scale(0.5);
    -webkit-transform-transform: scale(0.5);
    -webkit-transform-origin: 100% 0%;
    -webkit-transform-origin-transform-origin: 100% 0%;
  }
  100% {
    -webkit-transform: scale(1);
    -webkit-transform-transform: scale(1);
    -webkit-transform-origin: 100% 0%;
    -webkit-transform-origin-transform-origin: 100% 0%;
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
    -webkit-transform-transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(20px);
    -webkit-transform-transform: translateX(20px);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    -webkit-transform-transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    -webkit-transform-transform: scale(1);
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    -webkit-transform-transform: scale(1);
    -webkit-transform-origin: center center;
    -webkit-transform-origin-transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-timing-function-animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    -webkit-transform-transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-timing-function-animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    -webkit-transform-transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-timing-function-animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    -webkit-transform-transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-timing-function-animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    -webkit-transform-transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-timing-function-animation-timing-function: ease-out;
  }
}
@keyframes bounce-left {
  0% {
    -webkit-transform: translateX(-20px);
    -webkit-transform-transform: translateX(-20px);
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-timing-function-animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateX(-16px);
    -webkit-transform-transform: translateX(-16px);
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-timing-function-animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateX(-8px);
    -webkit-transform-transform: translateX(-8px);
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-timing-function-animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateX(-3.5px);
    -webkit-transform-transform: translateX(-3.5px);
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-timing-function-animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateX(-2px);
    -webkit-transform-transform: translateX(-2px);
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-timing-function-animation-timing-function: ease-in;
  }
  25%, 55%, 75%, 87%, 98% {
    -webkit-transform: translateX(0px);
    -webkit-transform-transform: translateX(0px);
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-timing-function-animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateX(0px);
    -webkit-transform-transform: translateX(0px);
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-timing-function-animation-timing-function: ease-out;
    opacity: 1;
  }
}
@keyframes text-blur-out {
  0% {
    -webkit-filter: blur(0.01);
    -webkit-filter-filter: blur(0.01);
  }
  100% {
    -webkit-filter: blur(12px) opacity(0%);
    -webkit-filter-filter: blur(12px) opacity(0%);
  }
}
@keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
    -webkit-transform-transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
    -webkit-transform-transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    -webkit-transform-transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    -webkit-transform-transform: scale(1);
    opacity: 1;
  }
}
[data-anime] {
  opacity: 0;
  transition: 0.7s;
}

[data-anime=left] {
  transform: translate3d(-200px, 0, 0);
}

[data-anime=right] {
  transform: translate3d(200px, 0, 0);
}

[data-anime].animate {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
}

#cabecalho {
  height: 10vh;
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: end;
  top: 0;
  z-index: 1000;
  gap: 50px;
}

.logo {
  margin-left: 70px;
  align-items: center;
}

nav {
  padding: 10px 0;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.nav-list li a {
  display: inline-block;
  animation: scale-in-center 0.4s forwards;
}

.nav-list li a img {
  height: 32px;
}

.nav-list li a img:hover {
  opacity: 70%;
  transition: 0.3s;
}

.navegation {
  font-size: 18px;
  letter-spacing: 2px;
  text-decoration: none;
  color: #f6fbff;
  font-weight: 600;
  padding: 8px;
  border-radius: 10px;
}

.navegation:hover {
  background-color: #1A2029;
  transition: 0.3s;
}

.navegation_projetos {
  background-color: #682AE9;
  font-size: 18px;
  letter-spacing: 0.5px;
  text-decoration: none;
  color: #f6fbff;
  font-weight: 600;
  padding: 8px;
  border-radius: 10px;
  border: #682AE9 solid 1.5px;
}

.navegation_projetos:hover {
  background-color: #682AE9;
  transition: 0.3s;
}

.mobile-menu-icon {
  margin-right: 5vw;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 100;
}

.menu-close, .menu-open {
  animation: scale-up-center 0.5s normal;
}

.mobile-menu {
  position: absolute;
  top: 8vh;
  width: 30vw;
  height: 100vh;
  background-color: rgba(26, 32, 41, 0.9098039216);
  padding: 10px;
  display: none;
  animation: scale-up-tr 0.3s forwards;
  justify-content: center;
}
@media (max-width: 750px) {
  .mobile-menu {
    width: 100vw;
    height: 50vh;
  }
}

.nav-list-mobile {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-bottom: 50px;
}

.nav-list-mobile a {
  text-decoration: none;
  text-align: center;
  color: #f6fbff;
  font-weight: bold;
  font-family: "Roboto";
  font-size: 30px;
  letter-spacing: 2px;
  display: inline-block;
  animation: scale-in-center 0.4s forwards;
}
@media (max-width: 750px) {
  .nav-list-mobile a {
    font-size: 20px;
  }
}

.nav-list-mobile a:hover {
  color: #682AE9;
  transition: 0.5s;
}

.links_sociais a img {
  height: 50px;
}

#home {
  min-height: 100vh;
  max-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  overflow: hidden;
}

#perfil {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 0px 0 0 15vw;
}

.nome_banner {
  font-family: "Montserrat";
  color: #f6fbff;
  font-size: 80px;
  font-weight: 600;
  z-index: 2;
}

.subtitulos_banner {
  font-family: "Roboto";
  color: #f6fbff;
  line-height: 50px;
  font-weight: 600;
  letter-spacing: 1px;
  z-index: 2;
}

.detail_sub {
  background-color: #682AE9;
  padding: 2px;
}

.email_box {
  background-color: #682AE9;
  width: 30vw;
  height: 50px;
  border: #682AE9 solid 1px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 15vw;
  z-index: 2;
}

.email {
  color: #f6fbff;
  font-size: 18px;
  font-family: "Roboto";
  margin: auto;
  text-align: center;
  font-weight: 400;
  letter-spacing: 0.8px;
}

.email_after {
  color: #f6fbff;
  margin: auto;
  font-size: 18px;
  font-family: "Roboto";
  letter-spacing: 0.8px;
  font-weight: 400;
}

.email, .email_after {
  animation: scale-up-center 0.3s normal;
}

.copy_button {
  background-color: #682AE9;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
}

.copy_button:hover {
  background-color: #682AE9;
  transition: 0.2s;
}

.copy_button:active {
  background-color: #682AE9;
}

.email_box:hover {
  animation: girar2 0.3s normal;
  opacity: 80%;
  transition: 0.5s;
}

.img_button1, .img_button2 {
  animation: scale-up-center 0.3s normal;
}

@media (max-width: 1350px) {
  .nome_banner {
    font-size: 60px;
  }
  .subtitulos_banner {
    font-size: 20px;
  }
}
@media (max-width: 750px) {
  #home {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 85vh;
    gap: 120px;
  }
  #perfil {
    margin: 0;
    padding: 0;
    align-items: center;
  }
  .nome_banner {
    font-size: 40px;
    text-align: center;
  }
  .subtitulos_banner {
    font-size: 15px;
    text-align: center;
  }
  #container_sociais {
    flex-direction: column-reverse;
    gap: 40px;
    margin: 20px 0 0 0;
    justify-content: center;
  }
  .email_box {
    padding: 0;
    margin: 0;
    width: 70vw;
    height: 50px;
  }
  .email {
    font-size: 16px;
    margin: auto;
  }
  .email_after {
    font-size: 14.5px;
    margin: auto;
  }
  .copy_button {
    height: 50px;
  }
  .links_home {
    width: 32vw;
  }
  .sol {
    height: 50px;
    width: 50px;
  }
}
@media (max-width: 450px) {
  .subtitulos_banner {
    font-size: 13.5px;
    text-align: center;
  }
  .sol {
    height: 50px;
    width: 50px;
  }
}
#sobre_mim {
  padding: 20px;
  background-color: #1A2029;
  margin: 120px auto 60px auto;
  border-radius: 50px;
  width: 85%;
  z-index: 1;
}

.container_sobre_mim {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin: 0px 0px 50px 0px;
}
@media (max-width: 750px) {
  .container_sobre_mim {
    flex-direction: column;
    gap: 15px;
  }
}

.profile_pic {
  height: 300px;
  border: 0.1px solid #682AE9;
  border-radius: 50%;
}
@media (max-width: 750px) {
  .profile_pic {
    margin-top: 50px;
    height: 250px;
  }
}

.textos_sobre_mim {
  width: 50%;
}
@media (max-width: 750px) {
  .textos_sobre_mim {
    width: 100%;
  }
}

.sobre_mim_text {
  margin-top: 20px;
  text-align: start;
  font-family: "Roboto";
  color: #f6fbff;
  font-size: 20px;
  font-weight: 500;
  line-height: 40px;
  margin-bottom: 20px;
}
@media (max-width: 750px) {
  .sobre_mim_text {
    font-size: 16px;
    line-height: 30px;
  }
}

@media (max-width: 750px) {
  #sobre_mim {
    margin: 50px auto;
  }
}
#skills {
  padding-top: 20px;
  background-color: #1A2029;
  width: 85%;
  margin: 50px auto 60px auto;
  border-radius: 50px;
  padding-bottom: 100px;
  z-index: 1;
}

.container_skills {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 50px 0px 0px 0px;
}

.card_skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 30%;
  height: 400px;
  padding: 40px;
}

.card_skills h2 {
  font-family: "Roboto";
  font-size: 25px;
  color: #f6fbff;
  margin-bottom: 20px;
}

.card_skills p {
  font-family: "Roboto";
  font-size: 20px;
  color: #f6fbff;
  opacity: 70%;
}

.div_card_skills {
  background-color: #682AE9;
  height: 400px;
  width: 1px;
  opacity: 40%;
}

.tecnologia {
  display: flex;
  align-items: center;
  gap: 5px;
}

#projetos {
  padding: 20px;
  background-color: #1A2029;
  margin: 50px auto;
  border-radius: 50px;
  width: 85%;
  z-index: 1;
}

.container_projetos {
  background-color: #1A2029;
  display: flex;
  gap: 30px;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 70px 0px 100px 0px;
}

.card_projeto {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12%;
}

.card_projeto img {
  height: 400px;
  width: 500px;
}

.sobre_projeto {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  width: 40%;
}

.sobre_projeto h3 {
  font-family: "Roboto";
  color: #f6fbff;
}

.sobre_projeto p {
  font-family: "Roboto";
  color: #f6fbff;
  font-size: 20px;
}

.acessar_projeto {
  display: flex;
  gap: 30px;
  margin-top: 50px;
}

.acessar_projeto img {
  height: 50px;
  width: 50px;
}

.code_projeto {
  background-color: #682AE9;
  min-width: 100px;
  border-radius: 15px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f6fbff;
  font-size: 20px;
  font-family: "Roboto";
  font-weight: bold;
}

.code_projeto:hover {
  animation: heartbeat 2s infinite;
  background-color: #421d92;
  transition: 0.5s;
}

.ver_projeto {
  height: 50px;
  width: 50px;
  background-color: #682AE9;
  min-width: 100px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ver_projeto:hover {
  animation: heartbeat 2s infinite;
  background-color: #421d92;
  transition: 0.5s;
}

@media (max-width: 1050px) {
  .container_projetos {
    gap: 40px;
    margin: 50px 0px 70px 0px;
    flex-direction: column;
  }
  .card_projeto {
    width: 80vw;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 750px) {
  .card_projeto img {
    height: 200px;
    width: 300px;
  }
  .sobre_projeto {
    width: 100%;
    text-align: center;
  }
  .acessar_projeto img {
    height: 40px;
    width: 40px;
  }
}
.card_projeto h3 {
  color: #f6fbff;
  font-size: 32px;
}

footer {
  position: relative;
  z-index: 100;
}

#rodape {
  background-color: #0E1116;
  height: 12vh;
  width: 100%;
  text-align: center;
  font-family: "Roboto";
  font-size: 18px;
  color: #C0CAAD;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 750px) {
  #rodape {
    font-size: 15px;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #181d25;
  overflow-x: hidden;
}

html ::-webkit-scrollbar {
  width: 5px;
}

html ::-webkit-scrollbar-thumb {
  background: linear-gradient(to left, #682AE9, #682AE9);
  border-radius: 20px;
  border: 5px solid #682AE9;
}

html ::-webkit-scrollbar-track {
  background: #0E1116;
  border-radius: 20px;
}

#stars,
#stars2,
#stars3 {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: -1;
}

#stars {
  background: transparent;
  box-shadow: 439px 1619px #361362 , 272px 1878px #361362 , 766px 1644px #361362 , 1255px 537px #361362 , 1183px 1098px #361362 , 1081px 1997px #361362 , 738px 165px #361362 , 1725px 1520px #361362 , 1259px 1914px #361362 , 343px 439px #361362 , 1865px 892px #361362 , 645px 1378px #361362 , 1578px 1961px #361362 , 1006px 306px #361362 , 1972px 1866px #361362 , 1147px 791px #361362 , 1713px 1456px #361362 , 1645px 884px #361362 , 1681px 1726px #361362 , 274px 421px #361362 , 1024px 1083px #361362 , 1239px 677px #361362 , 1344px 1595px #361362 , 350px 448px #361362 , 1425px 574px #361362 , 857px 1670px #361362 , 1630px 714px #361362 , 208px 260px #361362 , 920px 1892px #361362 , 1169px 136px #361362 , 1603px 559px #361362 , 1022px 767px #361362 , 570px 268px #361362 , 1875px 58px #361362 , 1849px 451px #361362 , 1508px 1019px #361362 , 1430px 290px #361362 , 750px 1078px #361362 , 1347px 646px #361362 , 1597px 678px #361362 , 1922px 164px #361362 , 473px 743px #361362 , 1472px 1756px #361362 , 357px 544px #361362 , 1261px 1790px #361362 , 1726px 1673px #361362 , 1673px 1015px #361362 , 1341px 1810px #361362 , 580px 240px #361362 , 1331px 1759px #361362 , 858px 234px #361362 , 1766px 649px #361362 , 1500px 1453px #361362 , 162px 1960px #361362 , 960px 1743px #361362 , 1399px 1005px #361362 , 1724px 1562px #361362 , 895px 176px #361362 , 1221px 1448px #361362 , 941px 309px #361362 , 28px 712px #361362 , 1718px 132px #361362 , 780px 559px #361362 , 302px 1187px #361362 , 584px 1967px #361362 , 1349px 789px #361362 , 1608px 1191px #361362 , 702px 700px #361362 , 1786px 1619px #361362 , 1339px 490px #361362 , 399px 1138px #361362 , 467px 505px #361362 , 168px 272px #361362 , 204px 609px #361362 , 1774px 828px #361362 , 517px 489px #361362 , 1533px 129px #361362 , 282px 1625px #361362 , 1425px 203px #361362 , 783px 845px #361362 , 1180px 1259px #361362 , 1728px 1181px #361362 , 914px 824px #361362 , 314px 1059px #361362 , 1679px 204px #361362 , 1847px 1950px #361362 , 538px 1037px #361362 , 79px 1263px #361362 , 233px 1061px #361362 , 1620px 516px #361362 , 190px 1849px #361362 , 733px 1316px #361362 , 60px 1809px #361362 , 509px 1368px #361362 , 130px 1016px #361362 , 1604px 105px #361362 , 1332px 449px #361362 , 1850px 1529px #361362 , 760px 1616px #361362 , 1365px 473px #361362 , 494px 968px #361362 , 1083px 937px #361362 , 1379px 1992px #361362 , 1697px 108px #361362 , 1209px 1312px #361362 , 1322px 598px #361362 , 884px 861px #361362 , 667px 896px #361362 , 235px 1511px #361362 , 636px 366px #361362 , 1155px 1425px #361362 , 197px 1881px #361362 , 772px 877px #361362 , 1594px 114px #361362 , 1846px 1133px #361362 , 1463px 1872px #361362 , 650px 1709px #361362 , 504px 460px #361362 , 1559px 1113px #361362 , 1346px 1858px #361362 , 1205px 1428px #361362 , 753px 1389px #361362 , 112px 1391px #361362 , 1495px 1623px #361362 , 566px 1790px #361362 , 1838px 1336px #361362 , 632px 541px #361362 , 98px 319px #361362 , 836px 285px #361362 , 951px 99px #361362 , 457px 764px #361362 , 417px 448px #361362 , 1006px 1248px #361362 , 93px 82px #361362 , 537px 820px #361362 , 531px 1607px #361362 , 1044px 1165px #361362 , 288px 1432px #361362 , 1835px 459px #361362 , 928px 891px #361362 , 265px 1409px #361362 , 347px 1780px #361362 , 22px 1413px #361362 , 1272px 1087px #361362 , 347px 1282px #361362 , 403px 1884px #361362 , 1027px 898px #361362 , 1177px 51px #361362 , 972px 828px #361362 , 1776px 997px #361362 , 1223px 160px #361362 , 788px 1839px #361362 , 294px 837px #361362 , 1950px 1304px #361362 , 1072px 1498px #361362 , 774px 1392px #361362 , 1598px 408px #361362 , 1433px 125px #361362 , 1375px 181px #361362 , 98px 1486px #361362 , 1306px 1208px #361362 , 1168px 1481px #361362 , 794px 1420px #361362 , 1066px 1121px #361362 , 533px 779px #361362 , 1225px 778px #361362 , 1479px 600px #361362 , 156px 1882px #361362 , 625px 132px #361362 , 1561px 1263px #361362 , 1156px 255px #361362 , 1107px 1426px #361362 , 315px 1663px #361362 , 1152px 1495px #361362 , 1015px 403px #361362 , 221px 1083px #361362 , 1378px 523px #361362 , 347px 1993px #361362 , 340px 847px #361362 , 219px 1254px #361362 , 1260px 1854px #361362 , 650px 764px #361362 , 454px 1576px #361362 , 917px 1924px #361362 , 828px 1961px #361362 , 1295px 1574px #361362 , 840px 1737px #361362 , 306px 310px #361362 , 1273px 1654px #361362 , 14px 420px #361362 , 730px 1607px #361362 , 102px 1213px #361362 , 146px 266px #361362 , 196px 1234px #361362 , 56px 874px #361362 , 1768px 983px #361362 , 263px 1010px #361362 , 1484px 1572px #361362 , 1084px 930px #361362 , 1401px 1897px #361362 , 968px 359px #361362 , 947px 1697px #361362 , 1666px 1722px #361362 , 1658px 373px #361362 , 751px 122px #361362 , 347px 424px #361362 , 1616px 535px #361362 , 1154px 571px #361362 , 52px 1051px #361362 , 1264px 1678px #361362 , 151px 208px #361362 , 1084px 1190px #361362 , 1312px 151px #361362 , 886px 91px #361362 , 765px 546px #361362 , 203px 1543px #361362 , 1068px 1587px #361362 , 655px 1413px #361362 , 45px 1703px #361362 , 123px 1174px #361362 , 507px 845px #361362 , 189px 1805px #361362 , 125px 1294px #361362 , 57px 250px #361362 , 1982px 1723px #361362 , 1215px 1023px #361362 , 614px 293px #361362 , 315px 276px #361362 , 816px 1381px #361362 , 494px 1575px #361362 , 1225px 1776px #361362 , 1658px 836px #361362 , 248px 720px #361362 , 327px 1714px #361362 , 1673px 990px #361362 , 1445px 970px #361362 , 87px 1576px #361362 , 499px 560px #361362 , 1px 1820px #361362 , 365px 778px #361362 , 1808px 139px #361362 , 978px 1739px #361362 , 575px 1759px #361362 , 821px 954px #361362 , 1832px 1145px #361362 , 630px 485px #361362 , 1822px 1345px #361362 , 68px 1610px #361362 , 1671px 57px #361362 , 1612px 42px #361362 , 1094px 1064px #361362 , 1888px 59px #361362 , 1119px 33px #361362 , 1219px 1563px #361362 , 711px 1946px #361362 , 564px 1759px #361362 , 1530px 688px #361362 , 790px 592px #361362 , 183px 870px #361362 , 975px 770px #361362 , 551px 532px #361362 , 571px 537px #361362 , 1232px 1340px #361362 , 886px 907px #361362 , 1913px 838px #361362 , 1361px 1501px #361362 , 1583px 1353px #361362 , 62px 257px #361362 , 226px 1233px #361362 , 1477px 1898px #361362 , 53px 369px #361362 , 567px 1223px #361362 , 1708px 686px #361362 , 141px 1636px #361362 , 1312px 350px #361362 , 1159px 34px #361362 , 582px 967px #361362 , 1515px 360px #361362 , 1423px 397px #361362 , 740px 109px #361362 , 193px 589px #361362 , 692px 127px #361362 , 1030px 456px #361362 , 61px 533px #361362 , 1076px 1495px #361362 , 1448px 347px #361362 , 1498px 346px #361362 , 1935px 1146px #361362 , 1198px 691px #361362 , 964px 1247px #361362 , 1851px 657px #361362 , 498px 265px #361362 , 1392px 648px #361362 , 1486px 1958px #361362 , 1639px 1444px #361362 , 1241px 1720px #361362 , 1229px 1827px #361362 , 1302px 177px #361362 , 1032px 512px #361362 , 814px 380px #361362 , 404px 1600px #361362 , 11px 500px #361362 , 1591px 1290px #361362 , 229px 907px #361362 , 94px 1844px #361362 , 1920px 699px #361362 , 203px 733px #361362 , 1485px 564px #361362 , 231px 1591px #361362 , 730px 1541px #361362 , 500px 52px #361362 , 1238px 1261px #361362 , 468px 368px #361362 , 1815px 1030px #361362 , 942px 593px #361362 , 1560px 324px #361362 , 1380px 1297px #361362 , 591px 1423px #361362 , 382px 1994px #361362 , 865px 520px #361362 , 758px 1831px #361362 , 1825px 199px #361362 , 1954px 564px #361362 , 137px 1731px #361362 , 3px 1554px #361362 , 752px 755px #361362 , 1745px 1668px #361362 , 1587px 1323px #361362 , 1611px 1459px #361362 , 748px 1194px #361362 , 108px 996px #361362 , 1990px 1878px #361362 , 1179px 1886px #361362 , 1066px 1351px #361362 , 1854px 222px #361362 , 888px 82px #361362 , 760px 190px #361362 , 1847px 804px #361362 , 740px 1943px #361362 , 661px 1666px #361362 , 1314px 1138px #361362 , 109px 1859px #361362 , 1715px 288px #361362 , 1365px 1210px #361362 , 619px 1404px #361362 , 1438px 1755px #361362 , 1121px 1928px #361362 , 1973px 1168px #361362 , 124px 942px #361362 , 1750px 1417px #361362 , 1654px 195px #361362 , 775px 134px #361362 , 462px 1735px #361362 , 1675px 148px #361362 , 1416px 1283px #361362 , 1173px 384px #361362 , 1660px 1513px #361362 , 1607px 136px #361362 , 493px 1913px #361362 , 1124px 1161px #361362 , 470px 486px #361362 , 703px 1193px #361362 , 1039px 1139px #361362 , 1737px 983px #361362 , 224px 1355px #361362 , 321px 750px #361362 , 414px 995px #361362 , 1203px 1066px #361362 , 1854px 500px #361362 , 278px 1470px #361362 , 370px 1010px #361362 , 79px 746px #361362 , 782px 1494px #361362 , 1512px 202px #361362 , 1899px 674px #361362 , 825px 1036px #361362 , 1409px 1152px #361362 , 1025px 445px #361362 , 1889px 1775px #361362 , 656px 60px #361362 , 279px 1566px #361362 , 251px 1079px #361362 , 924px 1183px #361362 , 641px 1209px #361362 , 1423px 1188px #361362 , 335px 597px #361362 , 1445px 539px #361362 , 1766px 812px #361362 , 1682px 1595px #361362 , 126px 1625px #361362 , 1972px 1523px #361362 , 755px 1072px #361362 , 1517px 1561px #361362 , 1475px 1630px #361362 , 251px 52px #361362 , 782px 1752px #361362 , 1738px 891px #361362 , 704px 667px #361362 , 508px 318px #361362 , 1016px 6px #361362 , 1087px 578px #361362 , 438px 62px #361362 , 1472px 1484px #361362 , 1353px 975px #361362 , 568px 562px #361362 , 1823px 1408px #361362 , 1759px 895px #361362 , 835px 807px #361362 , 471px 279px #361362 , 960px 1332px #361362 , 1886px 37px #361362 , 1119px 1096px #361362 , 590px 1153px #361362 , 1659px 1300px #361362 , 1058px 1908px #361362 , 454px 1072px #361362 , 1931px 1091px #361362 , 1052px 1581px #361362 , 1889px 579px #361362 , 733px 485px #361362 , 1078px 1600px #361362 , 1641px 455px #361362 , 1764px 1736px #361362 , 66px 1531px #361362 , 4px 1177px #361362 , 140px 282px #361362 , 1835px 1212px #361362 , 1936px 388px #361362 , 1994px 969px #361362 , 1153px 768px #361362 , 591px 25px #361362 , 310px 916px #361362 , 1740px 1050px #361362 , 985px 513px #361362 , 1665px 1335px #361362 , 1690px 1790px #361362 , 459px 886px #361362 , 324px 1344px #361362 , 1518px 1819px #361362 , 1119px 1108px #361362 , 792px 339px #361362 , 1533px 988px #361362 , 932px 1272px #361362 , 242px 1065px #361362 , 1745px 780px #361362 , 60px 1290px #361362 , 410px 1420px #361362 , 1016px 1985px #361362 , 1529px 1045px #361362 , 584px 103px #361362 , 160px 231px #361362 , 1434px 1465px #361362 , 52px 1137px #361362 , 1737px 1710px #361362 , 15px 750px #361362 , 1650px 1196px #361362 , 178px 162px #361362 , 64px 722px #361362 , 1519px 612px #361362 , 756px 1001px #361362 , 830px 48px #361362 , 1894px 854px #361362 , 568px 318px #361362 , 59px 286px #361362 , 694px 846px #361362 , 1650px 1904px #361362 , 1342px 891px #361362 , 590px 1792px #361362 , 1960px 286px #361362 , 501px 435px #361362 , 1036px 1341px #361362 , 689px 1402px #361362 , 583px 650px #361362 , 97px 1956px #361362 , 665px 1354px #361362 , 501px 664px #361362 , 820px 187px #361362 , 1961px 184px #361362 , 1392px 1668px #361362 , 1906px 1666px #361362 , 1300px 1166px #361362 , 518px 593px #361362 , 716px 1241px #361362 , 1909px 1928px #361362 , 677px 405px #361362 , 1305px 1598px #361362 , 1126px 433px #361362 , 1222px 1417px #361362 , 400px 1476px #361362 , 597px 31px #361362 , 1556px 1096px #361362 , 24px 1033px #361362 , 1262px 787px #361362 , 1002px 1643px #361362 , 166px 647px #361362 , 1240px 425px #361362 , 1388px 447px #361362 , 947px 1725px #361362 , 1102px 1588px #361362 , 1757px 26px #361362 , 158px 1890px #361362 , 1346px 1250px #361362 , 522px 1534px #361362 , 606px 1759px #361362 , 1031px 350px #361362 , 1370px 1063px #361362 , 212px 1978px #361362 , 1063px 1145px #361362 , 501px 717px #361362 , 1033px 917px #361362 , 435px 615px #361362 , 1709px 850px #361362 , 1562px 964px #361362 , 1011px 620px #361362 , 926px 167px #361362 , 577px 447px #361362 , 1161px 860px #361362 , 1527px 649px #361362 , 346px 525px #361362 , 1928px 481px #361362 , 1994px 1222px #361362 , 87px 1400px #361362 , 1543px 1018px #361362 , 506px 246px #361362 , 1120px 1809px #361362 , 206px 1962px #361362 , 1718px 26px #361362 , 1967px 1203px #361362 , 1344px 1500px #361362 , 1994px 1873px #361362 , 1401px 275px #361362 , 152px 425px #361362 , 853px 960px #361362 , 11px 1459px #361362 , 629px 1276px #361362 , 1826px 930px #361362 , 264px 301px #361362 , 563px 343px #361362 , 259px 786px #361362 , 196px 1959px #361362 , 547px 1593px #361362 , 1930px 1822px #361362 , 37px 1247px #361362 , 1509px 427px #361362 , 790px 475px #361362 , 106px 1569px #361362 , 1360px 1166px #361362 , 240px 1281px #361362 , 1973px 692px #361362 , 24px 1289px #361362 , 782px 1118px #361362 , 491px 504px #361362 , 1801px 1921px #361362 , 207px 1072px #361362 , 1418px 985px #361362 , 777px 1461px #361362 , 1235px 896px #361362 , 997px 1705px #361362 , 522px 1979px #361362 , 1225px 1652px #361362 , 1827px 1451px #361362 , 1699px 93px #361362 , 1462px 1478px #361362 , 855px 103px #361362 , 24px 368px #361362 , 1675px 1104px #361362 , 687px 1339px #361362 , 467px 452px #361362 , 145px 1315px #361362 , 865px 1342px #361362 , 773px 1322px #361362 , 1872px 1201px #361362 , 907px 1327px #361362 , 1696px 838px #361362 , 1460px 1747px #361362 , 285px 1233px #361362 , 1204px 1086px #361362 , 742px 1522px #361362 , 763px 1366px #361362 , 1890px 826px #361362 , 1861px 1682px #361362 , 1354px 1454px #361362 , 417px 1258px #361362 , 606px 1937px #361362 , 1888px 468px #361362 , 278px 727px #361362 , 1793px 1155px #361362 , 342px 577px #361362 , 1849px 457px #361362 , 764px 1707px #361362 , 1924px 714px #361362 , 61px 1282px #361362 , 1047px 264px #361362 , 724px 1498px #361362 , 1894px 1367px #361362 , 897px 1204px #361362 , 1061px 873px #361362 , 677px 586px #361362 , 445px 128px #361362 , 1771px 908px #361362 , 1499px 1484px #361362 , 1172px 780px #361362 , 149px 1834px #361362 , 1903px 304px #361362 , 1258px 412px #361362 , 1823px 647px #361362 , 142px 1040px #361362 , 1575px 1350px #361362 , 1564px 27px #361362 , 1038px 756px #361362 , 120px 1122px #361362 , 954px 1130px #361362 , 10px 1251px #361362 , 25px 532px #361362 , 1611px 905px #361362 , 1095px 1220px #361362 , 1948px 151px #361362 , 839px 263px #361362 , 845px 796px #361362 , 702px 391px #361362 , 335px 110px #361362 , 1264px 398px #361362 , 1791px 1365px #361362 , 104px 745px #361362 , 1px 1734px #361362 , 127px 9px #361362 , 904px 579px #361362 , 1046px 901px #361362 , 836px 1650px #361362 , 1518px 1908px #361362 , 771px 412px #361362 , 1927px 1238px #361362 , 744px 1803px #361362 , 177px 1679px #361362 , 1076px 1258px #361362 , 257px 1188px #361362 , 1469px 174px #361362 , 610px 1374px #361362 , 549px 506px #361362 , 668px 897px #361362 , 786px 326px #361362 , 1686px 1578px #361362 , 1267px 1580px #361362 , 1280px 1329px #361362 , 391px 374px #361362 , 1787px 305px #361362 , 314px 612px #361362 , 1506px 1874px #361362 , 1571px 833px #361362 , 474px 1675px #361362 , 1091px 354px #361362 , 1264px 547px #361362 , 693px 598px #361362 , 994px 428px #361362 , 1758px 1549px #361362 , 1833px 1930px #361362 , 1679px 595px #361362 , 858px 159px #361362 , 422px 1698px #361362 , 1434px 589px #361362 , 819px 1448px #361362 , 1578px 664px #361362 , 174px 214px #361362 , 652px 144px #361362 , 1554px 1841px #361362 , 1216px 1035px #361362 , 1057px 1876px #361362 , 1250px 1829px #361362 , 875px 1684px #361362 , 1649px 1453px #361362 , 709px 1953px #361362 , 1495px 1681px #361362 , 1292px 1004px #361362 , 208px 1568px #361362 , 1925px 811px #361362 , 855px 1814px #361362 , 1176px 1218px #361362 , 787px 1298px #361362 , 1335px 1837px #361362 , 340px 990px #361362 , 1975px 356px #361362 , 610px 473px #361362 , 1230px 444px #361362 , 694px 373px #361362 , 1461px 895px #361362 , 46px 1371px #361362 , 1115px 1667px #361362 , 1601px 1965px #361362 , 395px 1675px #361362 , 396px 1671px #361362 , 1715px 636px #361362 , 1181px 1474px #361362 , 762px 463px #361362 , 1003px 1828px #361362 , 467px 1459px #361362 , 1049px 1296px #361362 , 1171px 945px #361362 , 118px 1386px #361362 , 1368px 874px #361362 , 1354px 1059px #361362 , 1611px 490px #361362 , 1994px 1462px #361362 , 1324px 264px #361362 , 1640px 444px #361362 , 573px 1945px #361362 , 1741px 984px #361362 , 1887px 1685px #361362 , 1617px 222px #361362 , 1207px 267px #361362 , 1080px 1993px #361362 , 22px 875px #361362 , 1503px 178px #361362 , 417px 1084px #361362 , 36px 1336px #361362 , 1799px 274px #361362 , 1651px 776px #361362 , 384px 48px #361362 , 159px 1657px #361362 , 1529px 976px #361362 , 105px 664px #361362 , 1455px 544px #361362 , 280px 1827px #361362 , 1547px 579px #361362 , 592px 917px #361362 , 575px 1381px #361362 , 176px 7px #361362 , 281px 1541px #361362 , 1774px 16px #361362 , 1573px 856px #361362 , 111px 136px #361362 , 866px 1231px #361362 , 1472px 1066px #361362 , 985px 1943px #361362 , 1817px 757px #361362 , 1767px 1834px #361362 , 1078px 813px #361362 , 1581px 887px #361362 , 1267px 771px #361362 , 1269px 1598px #361362 , 405px 1951px #361362 , 298px 1345px #361362 , 1900px 49px #361362 , 1924px 1691px #361362 , 1679px 895px #361362 , 655px 97px #361362 , 1511px 853px #361362 , 970px 1661px #361362 , 1503px 1890px #361362 , 1136px 1343px #361362 , 809px 1893px #361362 , 854px 1764px #361362 , 898px 1456px #361362 , 1847px 632px #361362 , 1924px 1920px #361362 , 752px 85px #361362 , 160px 1098px #361362 , 493px 1716px #361362 , 1881px 420px #361362 , 918px 1742px #361362 , 1096px 1883px #361362 , 1224px 696px #361362 , 239px 1131px #361362 , 101px 296px #361362 , 322px 1139px #361362 , 91px 500px #361362 , 64px 535px #361362 , 1785px 1502px #361362 , 89px 384px #361362 , 1574px 1288px #361362 , 660px 174px #361362 , 1284px 1250px #361362 , 183px 803px #361362 , 446px 1444px #361362 , 1722px 125px #361362 , 356px 602px #361362 , 110px 1332px #361362 , 218px 1996px #361362 , 1312px 1690px #361362 , 895px 1915px #361362 , 1763px 1049px #361362 , 413px 992px #361362 , 1061px 1638px #361362 , 181px 260px #361362 , 513px 136px #361362 , 406px 950px #361362 , 1882px 841px #361362 , 751px 794px #361362 , 231px 1546px #361362 , 852px 1582px #361362 , 1052px 1537px #361362 , 1664px 500px #361362 , 21px 1486px #361362 , 924px 1417px #361362 , 1051px 476px #361362 , 976px 298px #361362 , 1039px 1836px #361362 , 494px 319px #361362 , 1317px 966px #361362 , 506px 999px #361362 , 1010px 596px #361362 , 872px 53px #361362 , 209px 1172px #361362 , 533px 393px #361362 , 464px 1849px #361362 , 1791px 764px #361362 , 1694px 18px #361362 , 1888px 1567px #361362 , 419px 527px #361362 , 127px 992px #361362 , 1147px 1880px #361362 , 1300px 1401px #361362 , 1672px 1508px #361362 , 1941px 878px #361362 , 449px 1781px #361362 , 132px 1054px #361362 , 1021px 1414px #361362 , 367px 1162px #361362 , 915px 431px #361362 , 1893px 1867px #361362 , 1201px 1623px #361362 , 1340px 1048px #361362 , 1083px 998px #361362 , 1537px 1184px #361362 , 1277px 742px #361362 , 465px 1136px #361362 , 608px 1342px #361362 , 75px 1312px #361362 , 555px 702px #361362 , 254px 1076px #361362 , 1863px 1063px #361362 , 912px 395px #361362 , 51px 1564px #361362 , 1004px 1300px #361362 , 1176px 1812px #361362 , 1948px 696px #361362 , 1744px 560px #361362 , 1778px 1650px #361362 , 715px 956px #361362 , 1217px 410px #361362 , 523px 1783px #361362 , 1634px 1942px #361362 , 486px 203px #361362 , 1981px 758px #361362 , 490px 741px #361362 , 906px 1349px #361362 , 1338px 1323px #361362 , 716px 61px #361362 , 589px 1420px #361362 , 1769px 988px #361362 , 419px 1016px #361362 , 1963px 1446px #361362 , 1772px 340px #361362 , 1793px 1445px #361362 , 476px 1901px #361362 , 1553px 1744px #361362 , 1146px 1956px #361362 , 1403px 385px #361362 , 447px 299px #361362 , 1319px 949px #361362 , 529px 1996px #361362 , 284px 689px #361362 , 936px 468px #361362 , 661px 1751px #361362 , 1797px 466px #361362 , 360px 1893px #361362 , 1573px 388px #361362 , 901px 357px #361362 , 1217px 1689px #361362 , 983px 1851px #361362 , 1396px 1051px #361362 , 230px 545px #361362 , 395px 673px #361362 , 1260px 1026px #361362 , 1077px 1771px #361362 , 1578px 528px #361362 , 74px 164px #361362 , 1687px 1891px #361362 , 552px 1006px #361362 , 1157px 1048px #361362 , 621px 324px #361362 , 4px 1278px #361362 , 1452px 1393px #361362 , 272px 1729px #361362 , 1839px 741px #361362 , 811px 1971px #361362 , 1778px 1521px #361362 , 243px 1829px #361362 , 741px 1177px #361362 , 323px 1957px #361362 , 235px 1000px #361362 , 1475px 1717px #361362 , 60px 551px #361362 , 1809px 953px #361362 , 1526px 1278px #361362 , 190px 1055px #361362 , 1722px 1259px #361362 , 1840px 975px #361362 , 187px 290px #361362 , 1708px 1211px #361362 , 1062px 1098px #361362 , 1057px 1631px #361362 , 1540px 1550px #361362 , 1410px 27px #361362 , 703px 921px #361362 , 894px 1801px #361362 , 136px 1367px #361362 , 1108px 142px #361362 , 289px 766px #361362 , 1308px 249px #361362 , 1445px 203px #361362 , 88px 1328px #361362 , 1800px 1385px #361362 , 1445px 1796px #361362 , 681px 316px #361362 , 1278px 55px #361362 , 505px 1407px #361362 , 1783px 1px #361362 , 1543px 1248px #361362 , 1234px 1224px #361362 , 302px 1204px #361362 , 1627px 1143px #361362 , 1988px 815px #361362 , 875px 855px #361362 , 775px 1375px #361362 , 1192px 636px #361362 , 740px 713px #361362 , 778px 1523px #361362 , 1180px 401px #361362 , 1770px 468px #361362 , 1190px 1345px #361362 , 1123px 990px #361362 , 340px 1556px #361362 , 454px 1303px #361362 , 46px 1440px #361362 , 833px 190px #361362 , 559px 1768px #361362 , 638px 154px #361362 , 1055px 713px #361362 , 641px 1407px #361362 , 1347px 1142px #361362 , 1536px 1468px #361362 , 1593px 1876px #361362 , 1291px 1531px #361362 , 1578px 1797px #361362 , 917px 1826px #361362 , 1569px 365px #361362 , 1158px 1784px #361362 , 447px 148px #361362 , 1974px 650px #361362 , 965px 1470px #361362 , 218px 1725px #361362 , 1672px 1760px #361362 , 1596px 1029px #361362 , 1238px 1128px #361362 , 1352px 1396px #361362 , 631px 913px #361362 , 1791px 1646px #361362 , 751px 494px #361362 , 918px 647px #361362 , 501px 556px #361362 , 1268px 1449px #361362 , 1455px 1366px #361362 , 449px 1690px #361362 , 1083px 1717px #361362 , 1227px 653px #361362 , 624px 817px #361362 , 1927px 1846px #361362 , 1934px 200px #361362 , 914px 91px #361362 , 623px 1510px #361362 , 1553px 1104px #361362 , 1765px 929px #361362 , 1182px 1182px #361362 , 539px 1364px #361362 , 1849px 83px #361362 , 1617px 81px #361362 , 814px 555px #361362 , 83px 787px #361362 , 1121px 1555px #361362 , 581px 1686px #361362 , 762px 817px #361362 , 1284px 492px #361362 , 1186px 218px #361362 , 193px 261px #361362 , 317px 1052px #361362 , 849px 71px #361362 , 802px 1890px #361362 , 1771px 1712px #361362 , 1828px 1046px #361362 , 1490px 1272px #361362 , 1505px 770px #361362 , 882px 412px #361362 , 424px 1057px #361362 , 1510px 1363px #361362 , 542px 377px #361362 , 743px 1493px #361362 , 170px 1236px #361362 , 295px 162px #361362 , 175px 1007px #361362 , 1400px 1932px #361362;
  animation: animStar 20s linear infinite;
  width: 1px;
  height: 2px;
}

#stars2 {
  background: transparent;
  box-shadow: 13px 170px #361362 , 1726px 1569px #361362 , 464px 1594px #361362 , 762px 735px #361362 , 457px 1800px #361362 , 727px 1541px #361362 , 1630px 1851px #361362 , 260px 436px #361362 , 1478px 1339px #361362 , 88px 745px #361362 , 1998px 569px #361362 , 73px 239px #361362 , 1149px 834px #361362 , 1197px 1245px #361362 , 1944px 1209px #361362 , 1552px 571px #361362 , 1978px 271px #361362 , 1582px 559px #361362 , 1462px 155px #361362 , 672px 835px #361362 , 606px 1184px #361362 , 1678px 929px #361362 , 1320px 1468px #361362 , 1712px 238px #361362 , 371px 792px #361362 , 1075px 126px #361362 , 824px 1200px #361362 , 259px 1215px #361362 , 123px 1607px #361362 , 1151px 906px #361362 , 352px 549px #361362 , 93px 1746px #361362 , 471px 432px #361362 , 1226px 1170px #361362 , 1183px 1818px #361362 , 422px 458px #361362 , 400px 1918px #361362 , 1472px 1963px #361362 , 1469px 1835px #361362 , 626px 1876px #361362 , 724px 549px #361362 , 1355px 631px #361362 , 19px 254px #361362 , 742px 1885px #361362 , 1820px 377px #361362 , 837px 1607px #361362 , 1467px 1792px #361362 , 669px 1881px #361362 , 1768px 1433px #361362 , 1769px 722px #361362 , 1390px 1497px #361362 , 1418px 1348px #361362 , 1118px 465px #361362 , 708px 493px #361362 , 1522px 792px #361362 , 953px 1894px #361362 , 1588px 668px #361362 , 1250px 128px #361362 , 931px 852px #361362 , 993px 1657px #361362 , 991px 273px #361362 , 1008px 1538px #361362 , 1539px 1278px #361362 , 1748px 637px #361362 , 1380px 331px #361362 , 804px 953px #361362 , 566px 728px #361362 , 1244px 468px #361362 , 912px 1106px #361362 , 1239px 1140px #361362 , 1176px 1577px #361362 , 753px 1123px #361362 , 1113px 1233px #361362 , 405px 441px #361362 , 797px 1184px #361362 , 329px 63px #361362 , 321px 1943px #361362 , 1913px 966px #361362 , 255px 1334px #361362 , 1280px 1367px #361362 , 568px 1857px #361362 , 1498px 1914px #361362 , 396px 290px #361362 , 36px 1348px #361362 , 1773px 1467px #361362 , 872px 593px #361362 , 1341px 891px #361362 , 1656px 520px #361362 , 407px 258px #361362 , 1119px 1488px #361362 , 1743px 364px #361362 , 624px 1729px #361362 , 281px 310px #361362 , 912px 668px #361362 , 524px 1139px #361362 , 1278px 1579px #361362 , 452px 1291px #361362 , 1274px 1462px #361362 , 1636px 203px #361362 , 354px 115px #361362 , 1637px 1045px #361362 , 1141px 1446px #361362 , 1628px 1767px #361362 , 991px 591px #361362 , 205px 331px #361362 , 1613px 839px #361362 , 622px 1545px #361362 , 1025px 1360px #361362 , 667px 1385px #361362 , 505px 1993px #361362 , 1547px 1210px #361362 , 1021px 1271px #361362 , 889px 344px #361362 , 1795px 833px #361362 , 939px 1521px #361362 , 1216px 1074px #361362 , 967px 1101px #361362 , 435px 1624px #361362 , 1055px 1066px #361362 , 1061px 1016px #361362 , 1546px 1373px #361362 , 95px 535px #361362 , 618px 1988px #361362 , 1151px 360px #361362 , 1299px 1518px #361362 , 571px 1841px #361362 , 1407px 1552px #361362 , 1212px 694px #361362 , 1072px 430px #361362 , 1135px 217px #361362 , 749px 1664px #361362 , 510px 1664px #361362 , 1583px 290px #361362 , 358px 1149px #361362 , 175px 339px #361362 , 96px 572px #361362 , 1754px 523px #361362 , 930px 1865px #361362 , 1371px 1223px #361362 , 541px 1381px #361362 , 714px 1835px #361362 , 974px 1998px #361362 , 627px 851px #361362 , 1145px 818px #361362 , 1557px 617px #361362 , 1241px 1054px #361362 , 818px 869px #361362 , 188px 1731px #361362 , 1124px 1118px #361362 , 169px 1495px #361362 , 727px 172px #361362 , 1266px 1940px #361362 , 23px 1598px #361362 , 414px 781px #361362 , 1780px 78px #361362 , 1067px 1641px #361362 , 1165px 1796px #361362 , 422px 879px #361362 , 708px 604px #361362 , 1020px 1463px #361362 , 141px 522px #361362 , 1326px 1912px #361362 , 1439px 1592px #361362 , 287px 1680px #361362 , 401px 1044px #361362 , 1405px 1448px #361362 , 1384px 1768px #361362 , 803px 1425px #361362 , 1053px 266px #361362 , 1963px 591px #361362 , 1662px 636px #361362 , 1084px 111px #361362 , 143px 608px #361362 , 85px 1763px #361362 , 1404px 554px #361362 , 1152px 1037px #361362 , 165px 193px #361362 , 1748px 168px #361362 , 1208px 184px #361362 , 315px 1116px #361362 , 1007px 1322px #361362 , 427px 573px #361362 , 1958px 27px #361362 , 1713px 640px #361362 , 565px 1832px #361362 , 1357px 759px #361362 , 1200px 1927px #361362 , 1150px 824px #361362 , 1802px 593px #361362 , 1644px 121px #361362 , 1776px 1647px #361362 , 1394px 1124px #361362 , 144px 1891px #361362 , 1110px 1719px #361362 , 722px 74px #361362 , 1464px 1278px #361362 , 816px 657px #361362 , 1790px 383px #361362 , 1454px 1612px #361362 , 1416px 1952px #361362 , 311px 1396px #361362 , 1474px 637px #361362 , 1927px 291px #361362 , 1849px 459px #361362 , 1592px 1817px #361362 , 1712px 756px #361362 , 209px 918px #361362 , 1941px 894px #361362 , 860px 822px #361362 , 44px 1984px #361362 , 1925px 858px #361362 , 479px 621px #361362 , 759px 186px #361362 , 1461px 1666px #361362 , 650px 1978px #361362 , 488px 262px #361362 , 421px 432px #361362 , 1219px 107px #361362 , 821px 1865px #361362 , 1840px 451px #361362 , 1127px 1575px #361362 , 935px 1693px #361362 , 1780px 1648px #361362 , 1614px 1091px #361362 , 1226px 414px #361362 , 663px 1025px #361362 , 219px 1249px #361362 , 42px 1237px #361362 , 1708px 712px #361362 , 828px 1436px #361362 , 895px 1113px #361362 , 269px 1057px #361362 , 1952px 1823px #361362 , 657px 1699px #361362 , 1579px 118px #361362 , 31px 1527px #361362 , 445px 226px #361362 , 1037px 1240px #361362 , 1274px 1899px #361362 , 1311px 613px #361362 , 851px 238px #361362 , 1741px 1814px #361362 , 78px 1502px #361362 , 449px 134px #361362 , 98px 1086px #361362 , 1771px 1889px #361362 , 715px 266px #361362 , 1737px 353px #361362 , 88px 1546px #361362 , 1266px 1258px #361362 , 1780px 780px #361362 , 818px 447px #361362 , 979px 427px #361362 , 609px 671px #361362 , 1914px 1116px #361362 , 1228px 1734px #361362 , 1450px 161px #361362 , 411px 321px #361362 , 852px 1760px #361362 , 347px 1362px #361362 , 1705px 1878px #361362 , 1797px 412px #361362 , 1559px 496px #361362 , 1916px 732px #361362 , 978px 1454px #361362 , 1790px 1237px #361362 , 1309px 247px #361362 , 754px 1103px #361362 , 1654px 32px #361362 , 491px 357px #361362 , 499px 1172px #361362 , 1738px 1659px #361362 , 1300px 889px #361362 , 190px 1386px #361362 , 1370px 1100px #361362 , 94px 436px #361362 , 1872px 1327px #361362 , 1380px 1397px #361362 , 1469px 1349px #361362 , 467px 771px #361362 , 875px 1858px #361362 , 1272px 316px #361362 , 876px 169px #361362 , 1437px 941px #361362 , 325px 1496px #361362 , 90px 1005px #361362 , 186px 1800px #361362 , 1433px 877px #361362 , 1481px 1112px #361362 , 1468px 972px #361362 , 591px 899px #361362 , 209px 917px #361362 , 560px 926px #361362 , 966px 1062px #361362 , 714px 1640px #361362 , 77px 175px #361362 , 1731px 1669px #361362 , 180px 1731px #361362 , 1294px 293px #361362 , 1805px 1576px #361362 , 1246px 115px #361362 , 1226px 1354px #361362 , 1579px 316px #361362 , 1601px 1950px #361362 , 1540px 18px #361362 , 990px 1761px #361362 , 1569px 1632px #361362 , 751px 264px #361362 , 427px 955px #361362 , 286px 381px #361362 , 314px 175px #361362 , 1638px 577px #361362 , 1575px 481px #361362 , 1995px 995px #361362 , 604px 804px #361362 , 1966px 1240px #361362 , 1036px 760px #361362 , 124px 1631px #361362 , 735px 1021px #361362 , 495px 145px #361362 , 111px 587px #361362 , 637px 1972px #361362 , 1327px 1154px #361362 , 1547px 1567px #361362 , 1712px 1348px #361362 , 904px 604px #361362 , 1558px 1795px #361362 , 316px 465px #361362 , 811px 207px #361362 , 25px 1368px #361362 , 1703px 17px #361362 , 547px 1725px #361362 , 576px 571px #361362 , 1718px 645px #361362 , 1758px 617px #361362 , 1612px 35px #361362 , 394px 465px #361362 , 549px 1394px #361362 , 1672px 1890px #361362 , 426px 1586px #361362 , 296px 1506px #361362 , 88px 429px #361362 , 152px 784px #361362 , 1556px 1763px #361362 , 1903px 1471px #361362 , 944px 1242px #361362 , 424px 579px #361362 , 1341px 693px #361362 , 616px 103px #361362 , 1546px 1135px #361362 , 1933px 1214px #361362 , 1485px 1697px #361362 , 1512px 564px #361362 , 1425px 747px #361362 , 1708px 311px #361362 , 1335px 1511px #361362 , 678px 1287px #361362 , 1989px 1694px #361362 , 1609px 654px #361362 , 1163px 67px #361362 , 525px 1306px #361362 , 789px 524px #361362 , 908px 583px #361362 , 1839px 1498px #361362 , 1568px 660px #361362 , 1524px 1097px #361362 , 12px 1172px #361362 , 653px 733px #361362 , 1280px 539px #361362 , 1113px 822px #361362 , 78px 81px #361362 , 1175px 1517px #361362 , 1334px 1023px #361362 , 1986px 1772px #361362 , 200px 901px #361362 , 975px 230px #361362 , 1583px 817px #361362 , 993px 1503px #361362 , 15px 707px #361362 , 380px 1295px #361362 , 1786px 1237px #361362 , 1354px 1311px #361362 , 849px 967px #361362 , 610px 1217px #361362 , 843px 139px #361362 , 1963px 403px #361362 , 1376px 1239px #361362 , 1577px 31px #361362 , 807px 1194px #361362 , 1071px 435px #361362 , 1015px 1495px #361362 , 1226px 57px #361362 , 1309px 892px #361362 , 1379px 922px #361362 , 695px 1458px #361362 , 302px 1590px #361362 , 1706px 1515px #361362 , 1991px 712px #361362 , 404px 1825px #361362 , 1241px 1531px #361362;
  animation: animStar 50s linear infinite;
  width: 3px;
  height: 3px;
}

#stars3 {
  background: transparent;
  box-shadow: 1804px 126px #361362 , 1524px 1236px #361362 , 1578px 1426px #361362 , 1385px 1067px #361362 , 1695px 990px #361362 , 449px 1357px #361362 , 988px 197px #361362 , 983px 1822px #361362 , 1233px 657px #361362 , 900px 532px #361362 , 1395px 251px #361362 , 558px 1232px #361362 , 1602px 791px #361362 , 93px 1232px #361362 , 1359px 1015px #361362 , 987px 1693px #361362 , 1472px 211px #361362 , 1554px 1615px #361362 , 134px 254px #361362 , 1689px 593px #361362 , 1268px 255px #361362 , 1180px 1104px #361362 , 191px 1879px #361362 , 1184px 1710px #361362 , 1549px 758px #361362 , 1230px 43px #361362 , 103px 94px #361362 , 983px 1369px #361362 , 1125px 1442px #361362 , 1959px 1692px #361362 , 1918px 64px #361362 , 413px 1708px #361362 , 1315px 903px #361362 , 1228px 1424px #361362 , 1590px 56px #361362 , 1984px 541px #361362 , 1990px 852px #361362 , 1557px 232px #361362 , 1878px 1864px #361362 , 905px 1943px #361362 , 1250px 1182px #361362 , 1956px 1931px #361362 , 1082px 1651px #361362 , 1175px 756px #361362 , 1257px 174px #361362 , 1847px 80px #361362 , 1960px 1953px #361362 , 503px 1191px #361362 , 579px 245px #361362 , 485px 571px #361362 , 450px 312px #361362 , 252px 1663px #361362 , 1046px 1817px #361362 , 21px 623px #361362 , 1298px 1036px #361362 , 597px 1629px #361362 , 1739px 1448px #361362 , 1858px 1804px #361362 , 1552px 1935px #361362 , 947px 1076px #361362 , 1004px 1726px #361362 , 591px 1082px #361362 , 927px 1116px #361362 , 1496px 973px #361362 , 1239px 1026px #361362 , 1884px 1999px #361362 , 444px 917px #361362 , 1080px 1525px #361362 , 1778px 555px #361362 , 329px 1563px #361362 , 841px 1788px #361362 , 1054px 1475px #361362 , 789px 383px #361362 , 1169px 620px #361362 , 413px 1337px #361362 , 894px 1520px #361362 , 1957px 999px #361362 , 390px 337px #361362 , 1601px 444px #361362 , 1687px 519px #361362 , 166px 319px #361362 , 1309px 1507px #361362 , 1483px 1152px #361362 , 850px 1049px #361362 , 95px 940px #361362 , 1591px 1796px #361362 , 112px 140px #361362 , 182px 1222px #361362 , 261px 1115px #361362 , 1834px 401px #361362 , 614px 946px #361362 , 1222px 1144px #361362 , 316px 1893px #361362 , 326px 1523px #361362 , 926px 144px #361362 , 550px 800px #361362 , 204px 456px #361362 , 1377px 1318px #361362 , 1858px 680px #361362 , 907px 832px #361362 , 1600px 293px #361362 , 1477px 124px #361362 , 1810px 1077px #361362 , 305px 1904px #361362 , 1047px 1982px #361362 , 894px 357px #361362 , 204px 1847px #361362 , 844px 318px #361362 , 770px 1001px #361362 , 324px 28px #361362 , 40px 470px #361362 , 1581px 1360px #361362 , 1755px 1776px #361362 , 1029px 1935px #361362 , 1477px 86px #361362 , 125px 285px #361362 , 245px 1563px #361362 , 417px 573px #361362 , 1027px 1px #361362 , 43px 1345px #361362 , 1006px 1456px #361362 , 1364px 1380px #361362 , 1214px 85px #361362 , 908px 1739px #361362 , 496px 25px #361362 , 1311px 1401px #361362 , 1905px 1260px #361362 , 525px 593px #361362 , 1216px 1726px #361362 , 944px 862px #361362 , 1692px 1698px #361362 , 615px 591px #361362 , 1099px 1900px #361362 , 1027px 1493px #361362 , 1492px 335px #361362 , 540px 59px #361362 , 726px 190px #361362 , 455px 89px #361362 , 1160px 1445px #361362 , 86px 428px #361362 , 80px 326px #361362 , 874px 1573px #361362 , 1668px 1726px #361362 , 460px 1128px #361362 , 756px 1441px #361362 , 376px 948px #361362 , 1385px 449px #361362 , 1442px 6px #361362 , 447px 794px #361362 , 19px 171px #361362 , 435px 1474px #361362 , 588px 1706px #361362 , 836px 125px #361362 , 377px 1044px #361362 , 851px 1159px #361362 , 949px 1763px #361362 , 269px 1492px #361362 , 1815px 40px #361362 , 492px 1221px #361362 , 1576px 1632px #361362 , 1282px 1447px #361362 , 1805px 468px #361362 , 1305px 671px #361362 , 27px 103px #361362 , 417px 1817px #361362 , 347px 1163px #361362 , 1109px 798px #361362 , 1427px 1649px #361362 , 348px 1675px #361362 , 965px 67px #361362 , 899px 301px #361362 , 1606px 1561px #361362 , 1726px 393px #361362 , 173px 958px #361362 , 1251px 134px #361362 , 1387px 1057px #361362 , 80px 774px #361362 , 1642px 106px #361362 , 336px 1211px #361362 , 1927px 642px #361362 , 1916px 117px #361362 , 674px 832px #361362 , 808px 1183px #361362 , 1751px 224px #361362 , 640px 876px #361362 , 1698px 9px #361362 , 703px 1224px #361362 , 1365px 1145px #361362 , 1056px 1038px #361362 , 1815px 1443px #361362 , 89px 1235px #361362 , 1284px 841px #361362 , 1254px 1165px #361362 , 662px 538px #361362 , 1541px 153px #361362 , 472px 1346px #361362 , 1653px 1481px #361362 , 827px 818px #361362 , 830px 844px #361362 , 555px 1708px #361362 , 1718px 1943px #361362 , 424px 282px #361362 , 675px 1633px #361362 , 784px 1441px #361362 , 806px 1945px #361362 , 1246px 620px #361362 , 236px 1516px #361362 , 38px 1270px #361362 , 741px 343px #361362 , 1359px 508px #361362 , 288px 1095px #361362 , 1021px 1522px #361362 , 473px 823px #361362 , 984px 881px #361362 , 1514px 386px #361362 , 954px 1689px #361362 , 801px 1005px #361362 , 12px 1075px #361362 , 1342px 1459px #361362 , 1829px 1520px #361362 , 426px 1381px #361362 , 643px 681px #361362 , 1167px 1403px #361362 , 939px 1277px #361362 , 506px 1592px #361362 , 257px 1160px #361362 , 141px 1169px #361362 , 551px 999px #361362 , 1087px 1421px #361362 , 695px 1052px #361362 , 362px 1031px #361362 , 1780px 1352px #361362 , 1557px 1433px #361362 , 1507px 1571px #361362 , 1343px 753px #361362 , 295px 1814px #361362 , 1925px 365px #361362 , 203px 954px #361362 , 910px 1040px #361362 , 814px 422px #361362 , 276px 10px #361362 , 1790px 216px #361362 , 181px 698px #361362 , 1550px 1950px #361362 , 574px 1981px #361362 , 1243px 1650px #361362 , 1420px 1050px #361362 , 1258px 1115px #361362 , 1513px 1060px #361362 , 1938px 571px #361362 , 906px 1761px #361362 , 1545px 690px #361362 , 1399px 1475px #361362 , 1283px 298px #361362 , 373px 354px #361362 , 369px 1372px #361362 , 139px 717px #361362 , 595px 516px #361362 , 1238px 715px #361362 , 1972px 1626px #361362 , 1858px 1434px #361362 , 1427px 150px #361362 , 675px 66px #361362 , 600px 1530px #361362 , 1472px 598px #361362 , 1217px 467px #361362 , 1323px 779px #361362 , 917px 458px #361362 , 499px 1981px #361362 , 1747px 958px #361362 , 1936px 1636px #361362 , 1823px 76px #361362 , 1264px 113px #361362 , 1799px 22px #361362 , 1343px 1614px #361362 , 919px 407px #361362 , 1014px 533px #361362 , 1695px 1559px #361362 , 1316px 1646px #361362 , 26px 759px #361362 , 167px 1259px #361362 , 1553px 947px #361362 , 1333px 1666px #361362 , 292px 1793px #361362 , 958px 1189px #361362 , 1672px 303px #361362 , 1524px 1548px #361362 , 265px 294px #361362 , 82px 177px #361362 , 1415px 908px #361362 , 424px 1058px #361362 , 1291px 952px #361362 , 1475px 1975px #361362 , 1857px 1393px #361362 , 1838px 526px #361362 , 117px 1390px #361362 , 1042px 31px #361362 , 33px 1206px #361362 , 1742px 1409px #361362 , 401px 497px #361362;
  animation: animStar 60s linear infinite;
  width: 2px;
  height: 3px;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
.feed {
  font-family: "Roboto";
  margin-top: 60px;
  margin-bottom: 30px;
  font-size: 35px;
  color: #f6fbff;
  text-shadow: #141414 3px 3px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.detail_02 {
  background: linear-gradient(to right, #682AE9, #682AE9);
  height: 0.5vh;
  width: 20vh;
  margin-top: 5px;
  border-radius: 15px;
  box-shadow: #141414 5px 5px 10px;
}

@media (max-width: 750px) {
  .feed {
    margin: 40px 0px 0px 20px;
    font-size: 25px;
  }
  .detail_02 {
    width: 25vw;
  }
}
.hole {
  position: absolute;
  top: -200px;
  right: -200px;
  height: 814px;
  width: 850px;
  animation: rotate-scale-down2 9s cubic-bezier(0.68, -0.6, 0.32, 1.6) infinite;
  opacity: 55%;
  z-index: 1;
}
@media (max-width: 1350px) {
  .hole {
    top: -150px;
    right: -150px;
    height: 700px;
    width: 800px;
  }
}
@media (max-width: 750px) {
  .hole {
    top: -100px;
    right: -100px;
    height: 500px;
    width: 600px;
  }
}
@media (max-width: 450px) {
  .hole {
    top: -60px;
    right: -120px;
    height: 500px;
    width: 530px;
  }
}

@keyframes rotate-scale-down2 {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
    -webkit-transform-transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(0.7) rotateZ(180deg);
    -webkit-transform-transform: scale(0.7) rotateZ(180deg);
  }
  75% {
    -webkit-transform: scale(1.2) rotateZ(360deg);
    -webkit-transform-transform: scale(1.2) rotateZ(360deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
    -webkit-transform-transform: scale(1) rotateZ(360deg);
  }
}

/*# sourceMappingURL=main.css.map */
